In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [2]:
#Check if we are getting the Response
imdb_response= requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
imdb_response

In [3]:
def top100IndianMovies(link):
    url=link
    request_object = requests.get(url)
    html_content = request_object.text
    #print(request_object.status_code, "->", url)
    soup = BeautifulSoup(request_object.content)
    
    #Get the movies
    movies = soup.select('td.titleColumn')
    ratings = [r.attrs.get('data-value') for r in soup.select('td.posterColumn span[name=ir]')]
    ratings
    
    list = []
 
    # Iterating over movies to extract
    # each movie's details
    for index in range(0, len(movies)):
        movie_string = movies[index].get_text()
        movie = (' '.join(movie_string.split()).replace('.', ''))
        movie_name = movie[len(str(index))+1:-7]
        year = movie[len(str(0))-6:-1]
        data = {"Name": movie_name,                        
                "Rating": ratings[index],
                "Year Of Release": year
               }
        list.append(data)
    
    # Get first 100 movies
    df_movies=pd.DataFrame(list)
    return(df_movies.head(100))

In [4]:
top100IndianMovies("https://www.imdb.com/india/top-rated-indian-movies/")

                        Name             Rating Year Of Release
0          Pariyerum Perumal   8.51014261044644            2018
1                    Nayakan  8.505383313103225            1987
2                   Jai Bhim  8.504495407713994            2021
3          C/o Kancharapalem   8.49385341097515            2018
4                 Anbe Sivam  8.493418206351633            2003
..                       ...                ...             ...
95           Munna Bhai MBBS  8.099605580094943            2003
96                 Sarfarosh  8.091645602267418            1999
97                      Roja  8.088628843245587            1992
98  Uri: The Surgical Strike  8.087732570247221            2019
99                     Queen  8.086426207479173            2013

[100 rows x 3 columns]