In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.support.ui import WebDriverWait   
from time import sleep

In [12]:
#driver=webdriver.Chrome(r'C:\Users\mum1user\Desktop\chromedriver_win32\chromedriver.exe')

In [13]:
#Another method is to have Chrome Driver in the jupyter notebook where currently we are working
driver=webdriver.Chrome('chromedriver.exe')

# Q1: 
Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data

In [49]:
url='https://www.naukri.com/'
#This opens the naukri.com url automatically in the Chrome
driver.get(url)

In [50]:
#Finding web element for search job by using class name
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [51]:
#Next is if we write on Search bar, we will get the output
search_job.send_keys('Data Analyst')

We see that Data Analyst gets typed automatically on the Search bar

In [52]:
#We have to scrap for single web element, so we will use absolute xpath
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [53]:
#finding element for Job Location
search_loc.send_keys('Bangalore')
search_loc

In [56]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [57]:
search_btn.click()

# Extract Job Titles

In [62]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [63]:
len(title_tags)

20

In [64]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [65]:
job_titles

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Data analyst',
 'Pipeline/Piping Data Analyst Trainee',
 'Data Analyst',
 'Senior Data Analyst - Collibra',
 'Hiring For Data Analyst (SQL & Scala) || Coforge',
 'Hiring Data Analyst(Immediate joiner preferred) - Globallogic!',
 'Sr. Data Analyst',
 'Data Analyst- 6-9 Years- Pan India-Permanent position',
 'Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Analyst',
 'DATA ANALYST, IMPACT MEASUREMENT AND MANAGEMENT',
 'Data Analyst',
 'Data Analyst - Platform & Security',
 'Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst role)']

In [67]:
df = pd.DataFrame({'Data Analyst Job Title':job_titles})
df.head(10)

                              Data Analyst Job Title
0  Hiring -Data Analyst, Business Analyst, MIS An...
1                                       Data analyst
2               Pipeline/Piping Data Analyst Trainee
3                                       Data Analyst
4                     Senior Data Analyst - Collibra
5   Hiring For Data Analyst (SQL & Scala) || Coforge
6  Hiring Data Analyst(Immediate joiner preferred...
7                                   Sr. Data Analyst
8  Data Analyst- 6-9 Years- Pan India-Permanent p...
9                                       Data Analyst

# Q2: 
Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:

1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')

In [72]:
url='https://www.naukri.com/'
#This opens the naukri.com url automatically in the Chrome
driver.get(url)

In [73]:
#Finding web element for search job by using class name
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [74]:
#Next is if we write on Search bar, we will get the output
search_job.send_keys('Data Scientist')

We see that Data Scientist gets typed automatically on the Search bar

In [75]:
#We have to scrap for single web element, so we will use absolute xpath
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [76]:
#finding element for Job Location
search_loc.send_keys('Bangalore')
search_loc

In [77]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [78]:
search_btn.click()

# Extract Job Titles

In [79]:
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [80]:
len(title_tags)

20

In [81]:
job_titles=[]
for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [82]:
job_titles

['Global Tax Automation & Operations - Data Scientist Senior Analyst',
 'Associate Data Scientist',
 'Data Scientist / Analyst',
 'Principal Data Scientist',
 'Senior Data Scientist, Speech Synthesis',
 'Senior Data Scientist - Customer Analytics',
 'Senior Data Scientist I',
 'Senior Risk Data Scientist',
 'Data Scientist / ML Engineer',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Sr Data Scientist',
 'Data Scientist I',
 'NLP Data Scientist',
 'Hiring For Sr. Data Scientist. Operation Research - SCM- MNC',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Advanced Analytics',
 'Data Scientist: Artificial Intelligence',
 'Deputy Manager - Data Scientist',
 'Global Tax Automation & Operations / Data Scientist Advisor',
 'Data Scientist']

In [83]:
df = pd.DataFrame({'Data Scientist Job Title':job_titles})
df.head(10)

                            Data Scientist Job Title
0  Global Tax Automation & Operations - Data Scie...
1                           Associate Data Scientist
2                           Data Scientist / Analyst
3                           Principal Data Scientist
4            Senior Data Scientist, Speech Synthesis
5         Senior Data Scientist - Customer Analytics
6                            Senior Data Scientist I
7                         Senior Risk Data Scientist
8                       Data Scientist / ML Engineer
9  Data Scientist - Lead / Architect - Looking Fo...

# Q3 :
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [24]:
driver=webdriver.Chrome('chromedriver.exe')

In [25]:
url='https://www.naukri.com/'
#This opens the naukri.com url automatically in the Chrome
driver.get(url)

In [26]:
#Finding web element for search job by using class name
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [27]:
#Next is if we write on Search bar, we will get the output
search_job.send_keys('Data Scientist')

In [28]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [29]:
#Click on Search button
search_btn.click()

In [ ]:
#Apply Location Filter
apply_loc_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i')
apply_loc_filter

In [ ]:
apply_loc_filter.click()

In [32]:
#Apply Salary Filter
apply_salary_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
apply_salary_filter

In [33]:
apply_salary_filter.click()
#We see that filter is applied to 3-6 lakhs

In [34]:
#Lets retrive the Job Title now
title_tags3=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [35]:
len(title_tags3)

20

In [36]:
job_titles3=[]
for i in title_tags3:
    job_titles3.append(i.text)
len(job_titles3)

20

In [37]:
job_titles3

['Data Scientist | A Fintech Organisation',
 'Data Scientist-Onsite and offshore',
 'Data Scientist',
 'Data Scientist II',
 'Opening For Data Scientist',
 'Data & Applied Scientist',
 'Data and applied Scientist',
 'Data Scientist',
 'Urgent Requirement || Data Scientist || Noida',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Scientist',
 'Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Urgent Hiring For Data Scientist']

In [38]:
# Store it in Dataframe
df3 = pd.DataFrame({'Data Scientist Jobs in Delhi/NCR':job_titles3})
df3.head(10)

                    Data Scientist Jobs in Delhi/NCR
0            Data Scientist | A Fintech Organisation
1                 Data Scientist-Onsite and offshore
2                                     Data Scientist
3                                  Data Scientist II
4                         Opening For Data Scientist
5                           Data & Applied Scientist
6                         Data and applied Scientist
7                                     Data Scientist
8      Urgent Requirement || Data Scientist || Noida
9  Data Analyst / Data Scientist / Business Analy...

# Q4
Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [39]:
driver=webdriver.Chrome('chromedriver.exe')

In [40]:
url='https://www.flipkart.com/'
#This opens the naukri.com url automatically in the Chrome
driver.get(url)

In [41]:
#The login screen appears, lets close that
close_login_screen=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

In [42]:
sleep(2)

In [43]:
#Finding web element for search job by using class name
search_job=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_job

In [44]:
#Next is if we write on Search bar, we will get the output
search_job.send_keys('Sunglasses')

In [45]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [46]:
search_btn.click()

In [47]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')

In [48]:
len(brand)

40

In [49]:
#Get Brands from first Page
brands=[]
for i in brand:
    brands.append(i.text)
brands

['Singco India',
 'ROZZETTA CRAFT',
 'SRPM',
 'Elligator',
 'Fastrack',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'PIRASO',
 'New Specs',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'Fastrack',
 'kingsunglasses',
 'SUNBEE',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Johaena',
 'ROZZETTA CRAFT',
 'PHENOMENAL',
 'Elligator',
 'Elligator',
 'VINCENT CHASE',
 'kingsunglasses',
 'PIRASO',
 'PHENOMENAL',
 'VINCENT CHASE',
 'Lee Topper',
 'Elligator',
 'SUNBEE',
 'ROYAL SON',
 'GANSTA',
 'Fastrack',
 'PHENOMENAL',
 'VINCENT CHASE',
 'maxa',
 'New Specs',
 'Lee Topper',
 'ROYAL SON']

In [50]:
prdoDesc=driver.find_elements_by_class_name("IRpwTa")

In [51]:
len(prdoDesc)

40

In [52]:
#Get Product Description
prdoDescs=[]
for i in prdoDesc:
    prdoDescs.append(i.text)
prdoDescs

['Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Retro Square Sunglasses (62)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Riding Glasses, UV Protection Oval Sunglasses (48)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Others Round, Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Polarized, Mirrored Retro Square Sunglas...',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection, Riding Glasses Rectangular, Wayfarer, Ov...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Gradient Butterfly Sunglasses (60)']

In [53]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')

In [54]:
len(price)

40

In [55]:
#Get the price of the Product
prices=[]
for i in price:
    prices.append(i.text)
prices

['₹664',
 '₹348',
 '₹188',
 '₹248',
 '₹489',
 '₹271',
 '₹165',
 '₹499',
 '₹229',
 '₹234',
 '₹181',
 '₹449',
 '₹639',
 '₹186',
 '₹243',
 '₹1,179',
 '₹499',
 '₹399',
 '₹146',
 '₹349',
 '₹309',
 '₹189',
 '₹265',
 '₹1,415',
 '₹174',
 '₹250',
 '₹299',
 '₹1,533',
 '₹199',
 '₹230',
 '₹235',
 '₹699',
 '₹269',
 '₹626',
 '₹269',
 '₹1,179',
 '₹144',
 '₹259',
 '₹276',
 '₹664']

In [56]:
df_1 = pd.DataFrame({'Brand':brands,'Product Description':prdoDescs,'Price':prices})
df_1.head(40)

,Brand,Product Description,Price
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹348
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹188
3,Elligator,UV Protection Round Sunglasses (54),₹248
4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹489
5,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...",₹271
6,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹165
7,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹499
8,PIRASO,UV Protection Aviator Sunglasses (54),₹229
9,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹234
10,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹181
11,ROZZETTA CRAFT,"UV Protection, Riding Glasses Rectangular Sung...",₹449
12,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹639
13,kingsunglasses,UV Protection Round Sunglasses (54),₹186
14,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",₹243
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179"
16,ROZZETTA CRAFT,"Polarized, Night Vision, Riding Glasses Sports...",₹499
17,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹399
18,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...",₹146
19,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...",₹349
20,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),₹309
21,Elligator,UV Protection Round Sunglasses (53),₹189
22,Elligator,UV Protection Round Sunglasses (54),₹265
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,415"
24,kingsunglasses,"UV Protection, Others Round, Aviator Sunglasse...",₹174
25,PIRASO,UV Protection Aviator Sunglasses (54),₹250
26,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹299
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹1,533"
28,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹199
29,Elligator,UV Protection Round Sunglasses (50),₹230
30,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹235
31,ROYAL SON,"Polarized, UV Protection Wayfarer Sunglasses (61)",₹699
32,GANSTA,UV Protection Aviator Sunglasses (57),₹269
33,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹626
34,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹269
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Round Sun...","₹1,179"
36,maxa,"UV Protection, Riding Glasses Rectangular, Way...",₹144
37,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...",₹259
38,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...",₹276
39,ROYAL SON,"UV Protection, Gradient Butterfly Sunglasses (60)",₹664

In [57]:
#Lets navigate to Next Page.
next_page_btn=driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')[0]
next_page_btn

In [58]:
next_page_btn.click()

In [59]:
#Select the brand from second Page
brand_2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brands_2=[]
for i in brand_2:
    brands_2.append(i.text)
brands_2

['kingsunglasses',
 'PHENOMENAL',
 'Fastrack',
 'VILLAIN',
 'PHENOMENAL',
 'Rich Club',
 'SRPM',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'kingsunglasses',
 'AISLIN',
 'Fastrack',
 'kingsunglasses',
 'Singco India',
 'VINCENT CHASE',
 'New Specs',
 'Elligator',
 'ROYAL SON',
 'ROYAL SON',
 'hipe',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'Johaena',
 'ROYAL SON',
 'DEIXELS',
 'ROYAL SON',
 'PIRASO',
 'ROYAL SON',
 'SRPM',
 'VINCENT CHASE',
 'Elligator',
 'kingsunglasses',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'Fastrack',
 'kingsunglasses',
 'New Specs',
 'AISLIN']

In [60]:
#Select Product Description from next page
prdoDesc_2=driver.find_elements_by_class_name("IRpwTa")
prdoDescs_2=[]
for j in prdoDesc_2:
    prdoDescs_2.append(j.text)
prdoDescs_2

['UV Protection Round Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection Wayfarer Sunglasses (53)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Gradient Butterfly Sunglasses (52)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (49)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'UV Protection Retro Square Sunglasses (58)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Night Vision, UV Protection Round Sunglasses (54)',
 'by Lenskart UV Protection Wayfarer Sunglasses (49)',
 'UV Protection, Gradient Aviator Sunglasses (50)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Rectangular, Wayfar...']

In [61]:
#Select Price from Next Page
price_2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices_2=[]
for k in price_2:
    prices_2.append(k.text)
prices_2

['₹276',
 '₹289',
 '₹689',
 '₹1,099',
 '₹299',
 '₹220',
 '₹207',
 '₹1,179',
 '₹299',
 '₹639',
 '₹180',
 '₹459',
 '₹459',
 '₹249',
 '₹203',
 '₹1,415',
 '₹232',
 '₹291',
 '₹449',
 '₹664',
 '₹189',
 '₹349',
 '₹719',
 '₹664',
 '₹156',
 '₹449',
 '₹229',
 '₹664',
 '₹299',
 '₹359',
 '₹199',
 '₹1,179',
 '₹263',
 '₹229',
 '₹360',
 '₹1,415',
 '₹639',
 '₹209',
 '₹178',
 '₹801']

In [62]:
df_2 = pd.DataFrame({'Brand':brands_2,'Product Description':prdoDescs_2,'Price':prices_2})
df_2.head(40)

             Brand                                Product Description   Price
0   kingsunglasses         UV Protection Round Sunglasses (Free Size)    ₹276
1       PHENOMENAL    UV Protection Clubmaster Sunglasses (Free Size)    ₹289
2         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹689
3          VILLAIN             Others Wayfarer Sunglasses (Free Size)  ₹1,099
4       PHENOMENAL  UV Protection, Mirrored Retro Square Sunglasse...    ₹299
5        Rich Club                UV Protection Round Sunglasses (48)    ₹220
6             SRPM             UV Protection Wayfarer Sunglasses (53)    ₹207
7    VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹1,179
8           PIRASO              UV Protection Aviator Sunglasses (58)    ₹299
9         Fastrack       UV Protection Aviator Sunglasses (Free Size)    ₹639
10  kingsunglasses  UV Protection, Riding Glasses, Mirrored Wayfar...    ₹180
11          AISLIN    UV Protection, Gradient Cat-eye Sunglasses (58)    ₹459
12        Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹459
13  kingsunglasses  UV Protection, Night Vision Wayfarer Sunglasse...    ₹249
14    Singco India  UV Protection, Riding Glasses, Others Aviator,...    ₹203
15   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...  ₹1,415
16       New Specs         UV Protection Round Sunglasses (Free Size)    ₹232
17       Elligator  UV Protection Retro Square, Round Sunglasses (54)    ₹291
18       ROYAL SON          UV Protection Rectangular Sunglasses (58)    ₹449
19       ROYAL SON  UV Protection, Gradient Butterfly Sunglasses (52)    ₹664
20            hipe  Mirrored, UV Protection, Gradient Round Sungla...    ₹189
21          PIRASO            UV Protection Butterfly Sunglasses (65)    ₹349
22        Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹719
23       ROYAL SON         UV Protection Retro Square Sunglasses (49)    ₹664
24         Johaena  Riding Glasses, UV Protection Oval Sunglasses ...    ₹156
25       ROYAL SON         UV Protection Retro Square Sunglasses (58)    ₹449
26         DEIXELS  UV Protection Aviator, Wayfarer Sunglasses (Fr...    ₹229
27       ROYAL SON  UV Protection, Gradient Over-sized Sunglasses ...    ₹664
28          PIRASO       UV Protection Aviator Sunglasses (Free Size)    ₹299
29       ROYAL SON                   Mirrored Aviator Sunglasses (55)    ₹359
30            SRPM  Night Vision, UV Protection Round Sunglasses (54)    ₹199
31   VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...  ₹1,179
32       Elligator    UV Protection, Gradient Aviator Sunglasses (50)    ₹263
33  kingsunglasses  Mirrored, UV Protection Wayfarer Sunglasses (F...    ₹229
34  ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...    ₹360
35   VINCENT CHASE  by Lenskart Polarized, UV Protection Round Sun...  ₹1,415
36        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹639
37  kingsunglasses    Mirrored, UV Protection Aviator Sunglasses (56)    ₹209
38       New Specs   UV Protection Rectangular Sunglasses (Free Size)    ₹178
39          AISLIN  Toughened Glass Lens, UV Protection Rectangula...    ₹801

In [63]:
next_page_btn_3=driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')[0]
next_page_btn_3

In [64]:
next_page_btn_3.click()

In [65]:
brand_3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
brands_3=[]
for i in brand_3:
    brands_3.append(i.text)
brands_3

['ROZZETTA CRAFT',
 'ROYAL SON',
 'NuVew',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'Fastrack',
 'PHENOMENAL',
 'ROYAL SON',
 'New Specs',
 'Mi',
 'Silver Kartz',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Badfella',
 'ROYAL SON',
 'ROYAL SON',
 'Silver Kartz',
 'HIPPON',
 'GANSTA',
 'ROYAL SON',
 'DEIXELS',
 'kingsunglasses',
 'NuVew',
 'ROYAL SON',
 'AISLIN',
 'GANSTA',
 'IDEE',
 'ROYAL SON',
 'IDEE',
 'kingsunglasses',
 'SHAAH COLLECTIONS',
 'ROYAL SON',
 'kingsunglasses',
 'GANSTA',
 'Fastrack',
 'NuVew',
 'ROZZETTA CRAFT',
 'Rich Club',
 'Lee Topper',
 'Singco India']

In [66]:
prdoDesc_3=driver.find_elements_by_class_name("IRpwTa")
prdoDescs_3=[]
for k in prdoDesc_3:
    prdoDescs_3.append(k.text)
prdoDescs_3

['UV Protection Aviator Sunglasses (62)',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Rectangular Sunglasses (55)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (88)',
 'Polarized, UV Protection Wrap-around Sunglasses (60)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection, Polarized Aviator Sunglasses (60)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Round Sunglasses (55)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection, Polarized Wrap-around Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Sports Sunglasses (62)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection Wayfarer Sunglasses (18)',
 'UV Protection, Gradient Over-sized Sunglasses (56)',
 'UV Protection Over-sized Sunglasses (57)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (59)',
 'UV Protection, Mirrored Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Rectangular Sunglasses (F...',
 'Polarized Round Sunglasses (48)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Others Wayfarer, Retro S...']

In [67]:
price_3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
prices_3=[]
for k in price_3:
    prices_3.append(k.text)
prices_3

['₹649',
 '₹664',
 '₹327',
 '₹353',
 '₹174',
 '₹639',
 '₹289',
 '₹664',
 '₹157',
 '₹999',
 '₹255',
 '₹759',
 '₹348',
 '₹199',
 '₹359',
 '₹711',
 '₹284',
 '₹179',
 '₹209',
 '₹854',
 '₹219',
 '₹249',
 '₹327',
 '₹711',
 '₹459',
 '₹198',
 '₹1,059',
 '₹664',
 '₹1,249',
 '₹179',
 '₹267',
 '₹664',
 '₹207',
 '₹204',
 '₹459',
 '₹308',
 '₹449',
 '₹152',
 '₹281',
 '₹226']

In [68]:
df_3 = pd.DataFrame({'Brand':brands_3,'Product Description':prdoDescs_3,'Price':prices_3})
df3=df_3.head(20)
df3

             Brand                                Product Description Price
0   ROZZETTA CRAFT              UV Protection Aviator Sunglasses (62)  ₹649
1        ROYAL SON  UV Protection, Gradient Butterfly Sunglasses (57)  ₹664
2            NuVew     UV Protection, Mirrored Sports Sunglasses (62)  ₹327
3   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹353
4   kingsunglasses          UV Protection Rectangular Sunglasses (55)  ₹174
5         Fastrack      Polarized Retro Square Sunglasses (Free Size)  ₹639
6       PHENOMENAL  UV Protection, Mirrored Clubmaster Sunglasses ...  ₹289
7        ROYAL SON  UV Protection, Gradient Over-sized Sunglasses ...  ₹664
8        New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹157
9               Mi           Polarized Aviator Sunglasses (Free Size)  ₹999
10    Silver Kartz              UV Protection Aviator Sunglasses (88)  ₹255
11       ROYAL SON  Polarized, UV Protection Wrap-around Sunglasse...  ₹759
12  ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹348
13        Badfella  Polarized, UV Protection Retro Square Sunglass...  ₹199
14       ROYAL SON            Mirrored Aviator Sunglasses (Free Size)  ₹359
15       ROYAL SON   UV Protection, Polarized Aviator Sunglasses (60)  ₹711
16    Silver Kartz                 UV Protection Oval Sunglasses (56)  ₹284
17          HIPPON                UV Protection Round Sunglasses (55)  ₹179
18          GANSTA  UV Protection, Riding Glasses Wayfarer Sunglas...  ₹209
19       ROYAL SON  UV Protection, Polarized Wrap-around Sunglasse...  ₹854

In [69]:
#Combine all three DataFrames
pd.concat([df_1, df_2, df3])

             Brand                                Product Description Price
0     Singco India  Gradient, Toughened Glass Lens, UV Protection ...  ₹664
1   ROZZETTA CRAFT  UV Protection, Gradient Rectangular Sunglasses...  ₹348
2             SRPM             UV Protection Wayfarer Sunglasses (50)  ₹188
3        Elligator                UV Protection Round Sunglasses (54)  ₹248
4         Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...  ₹489
..             ...                                                ...   ...
15       ROYAL SON   UV Protection, Polarized Aviator Sunglasses (60)  ₹711
16    Silver Kartz                 UV Protection Oval Sunglasses (56)  ₹284
17          HIPPON                UV Protection Round Sunglasses (55)  ₹179
18          GANSTA  UV Protection, Riding Glasses Wayfarer Sunglas...  ₹209
19       ROYAL SON  UV Protection, Polarized Wrap-around Sunglasse...  ₹854

[100 rows x 3 columns]

In [70]:
#Reset Index is mandatory otherwise it will take old index
z=pd.concat([df_1, df_2, df3]).reset_index()
z

,index,Brand,Product Description,Price
0,0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...",₹664
1,1,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹348
2,2,SRPM,UV Protection Wayfarer Sunglasses (50),₹188
3,3,Elligator,UV Protection Round Sunglasses (54),₹248
4,4,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹489
...,...,...,...,...
95,15,ROYAL SON,"UV Protection, Polarized Aviator Sunglasses (60)",₹711
96,16,Silver Kartz,UV Protection Oval Sunglasses (56),₹284
97,17,HIPPON,UV Protection Round Sunglasses (55),₹179
98,18,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...",₹209
99,19,ROYAL SON,"UV Protection, Polarized Wrap-around Sunglasse...",₹854

In [71]:
#Close the driver
driver.close

# Q5: 
Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace
When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.

In [78]:
#Another method is to have Chrome Driver in the jupyter notebook where currently we are working
driver=webdriver.Chrome('chromedriver.exe')

In [79]:
url='https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-%20earpods-power%02adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC%20TSVZAXUHGREPBFGI&marketplace'
#This opens the flipkart url automatically in the Chrome
driver.get(url)

In [80]:
#Finding web element to search the name where ALl Reviews are stored for the iPhone
#Lets changed the URL to get into the total reviews page and scrap all review in one go.
search_allReview=driver.find_element_by_xpath('//div[@class="_3UAT2v _16PBlm"]')
search_allReview

The new URL is :
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART

In [81]:
search_allReview.click()

Now, lets utilise the above url and get all the reviews with ratings, review summary and full review for all pages using a function

In [82]:
fullReview=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(fullReview)

10

In [83]:
fullreviews=[]
for j in fullReview:
    fullreviews.append(j.text.replace('\n',''))
fullreviews

['The Best Phone for the MoneyThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.Compelling ultra-wide cameraNew Night mode is excellentLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.Pros-Camera top class- Battery top performed-Chipset no need to say as apple kind-Security as you expect from apple- Display super bright industry leading colouraccuracy and super responsive-Build quality as expect from apple sturdypremium durable beautiful stylish.-Os most stable os in smartphone industryCons-No 5G-Display is not based on OLED technology-Charger headphones and 1 apple stic...READ MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phoneAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11I have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD displayBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product redMy experience after using 3 weeks1. The delivery ...READ MORE',
 'Amazing Powerful and Durable Gadget.I’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.Don’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.I’ve attached my puppy pics and no fi...READ MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [84]:
def scrap_filpkart(n):
    url=f"https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page={n}"
    #print(url)
    driver.get(url)
    
    high_rating = driver.find_elements_by_xpath('//div[@class="col _2wzgFH K0kLPL"]')
    high_rating
    
    review_summ=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
    review_summ
    
    fullReview=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
    fullReview
    
    ratings=[]        
    if len(high_rating)==10:
        for i in high_rating:            
            ratings.append(i.text[0])
        #print(ratings)
        ratings         
        
    reviews=[]
    for j in review_summ:
        reviews.append(j.text)
        reviews
        
    fullreviews=[]
    for j in fullReview:
        fullreviews.append(j.text.replace('\n',''))
    fullreviews
    df =(pd.DataFrame({'Rating':ratings,'Review summary':reviews,'Full review':fullreviews}))
    return(df)
    driver.close

In [85]:
df1=scrap_filpkart(1)
df1

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...
7,5,Highly recommended,What a camera .....just awesome ..you can feel...
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

Now, lets scrap the data for second page

In [86]:
df2=scrap_filpkart(2)
df2

,Rating,Review summary,Full review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...
3,5,Highly recommended,It's my first time to use iOS phone and I am l...
4,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Classy product,Totally in love with this ❤ the camera quality...
7,5,Worth every penny,"Smooth like butter, camera like fantabulous, s..."
8,5,Worth every penny,It’s been almost a month since I have been usi...
9,4,Nice product,Awesome Phone. Slightly high price but worth. ...

Now,lets Scrap for third page

In [87]:
df3=scrap_filpkart(3)
df3

,Rating,Review summary,Full review
0,5,Brilliant,"I have migrated from OP 7pro... and trust me, ..."
1,4,Good choice,Looking so good 👍 😍 super 👌 stylish 😎 phoneCle...
2,5,Perfect product!,After 1 month use I found camera quality best ...
3,5,Wonderful,I just directly switch from iphone 6s to iphon...
4,5,Terrific purchase,The built quality is not very premium.The batt...
5,5,Simply awesome,Really good actually this is my first apple pr...
6,4,Good quality product,it is very good at performance. Camera is best...
7,1,Very poor,Reviewing again after 5 months. At the beginni...
8,5,Perfect product!,It is just awesome mobile for this price from ...
9,5,Must buy!,Best Apple iPhone that i have bought at a very...

Now,lets Scrap for fourth page

In [88]:
df4=scrap_filpkart(4)
df4

  Rating    Review summary                                        Full review
0      5         Must buy!  I rate this product 5* as it has got amazing u...
1      5     Great product  Again back to apple iphone after a gap of 2-3 ...
2      4         Very Good  impressive super phone and best in class camer...
3      5         Wonderful  Super and marvellous phone look very cute and ...
4      5    Classy product  Well while switching from android to iOS the f...
5      5           Awesome  Very excited to have this phone. This phone ha...
6      5    Classy product  Best and amazing product.....phone looks so pr...
7      5           Awesome  Always love the apple products, upgraded from ...
8      5  Perfect product!  Value for money5 star ratingExcellent cameraBa...
9      1         Very poor  Please DONT buy from here,I purchased Apple iP...

Now,lets Scrap for fifth page

In [89]:
df5=scrap_filpkart(5)
df5

,Rating,Review summary,Full review
0,4,Value-for-money,Just got this iphone 11And it is most powerful...
1,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
2,5,Awesome,I dreamt about this day from a long time.... G...
3,4,Value-for-money,I'm Really happy with the productDelivery was ...
4,1,Worthless,Phone is awesome no doubt. But Camera & Displa...
5,5,Simply awesome,"Excellent camera, good performance, no lag. Th..."
6,5,Wonderful,This is my first ever I phone. Before this I w...
7,5,Terrific,Really worth of money. i just love it. It is t...
8,5,Brilliant,Amazing phone and on great deal I received wit...
9,5,Excellent,Awesome...🤩😍😍

Now,lets Scrap for sixth page

In [90]:
df6=scrap_filpkart(6)
df6

,Rating,Review summary,Full review
0,5,Mind-blowing purchase,"Best Quality Product OF iPhone Series , Sound ..."
1,5,Wonderful,Finally purchased iphone 11 instead of XR and ...
2,5,Perfect product!,"Battery backup is extraordinary, camera is dec..."
3,5,Classy product,Superb Product !!!A big and worthy upgrade fro...
4,5,Awesome,I am using this phone for 5 days and its one o...
5,5,Just wow!,Camera battery and it’s overall performance is...
6,5,Perfect product!,Awesome purchase. Amazing phone with good batt...
7,5,Worth every penny,Here is the thingThe only reason why you shoul...
8,5,Fabulous!,awesome phone to have. it has got many smart f...
9,5,Must buy!,It’s an amazing product from apple and the cam...

Now,lets Scrap for seventh page

In [91]:
df7=scrap_filpkart(7)
df7

,Rating,Review summary,Full review
0,4,Good quality product,I'm switching this phone to oppo reno 10x zoom...
1,5,Super!,Did an upgrade from 6s plus to iphone 11.Ao fa...
2,5,Excellent,Its a fabulous mobile look awesome performance...
3,5,Classy product,We are on apple ecosystem for almost eight yea...
4,5,Terrific purchase,Upgraded from iphone 6 to 11 best phone for ip...
5,4,Pretty good,I was using Iphone 6s and also Oneplus 6t. Bot...
6,5,Brilliant,Excellent camera and display touching very nic...
7,5,Simply awesome,It's very high performances devise i am like t...
8,5,Fabulous!,I can say I'm damn impressed with iPhone 11. A...
9,5,Terrific purchase,No word to say ..simply Awesome. Love it😘😘😘😘

Now,lets Scrap for eighth page

In [95]:
df8=scrap_filpkart(8)
df8

,Rating,Review summary,Full review
0,5,Just wow!,Best in class. Battery backup is good especial...
1,1,Absolute rubbish!,Products damage
2,5,Great product,Well you all know the specifications . One of ...
3,5,Excellent,A perfect phone and a good battery super camer...
4,1,Worthless,New Phone worked for 2 weeks. After it gone de...
5,5,Mind-blowing purchase,First thanks to Flipkart for this amazing deal...
6,5,Mind-blowing purchase,This will help you more. See if you are planni...
7,5,Super!,This is my first ever iPhone.And I truly don’t...
8,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
9,5,Excellent,Amazing camera and feel super machine I am not...

Now,lets Scrap for ninth page

In [92]:
df9=scrap_filpkart(9)
df9

,Rating,Review summary,Full review
0,5,Wonderful,Superfast delivery by Flipkart. Thanks.1. iPho...
1,5,Awesome,Can’t beat the software and hardware integrati...
2,5,Perfect product!,Worth the money’ starting first from its perfo...
3,5,Terrific purchase,Its Very awesome product working and good came...
4,3,Does the job,phone is good but in display is 720p lcd in th...
5,5,Just wow!,Great iphone.I am writing this review after 2 ...
6,5,Terrific purchase,finally an iPhone with very nice battery backu...
7,5,Worth every penny,iPhone is delivered on time. Display is great ...
8,5,Great product,"my 1st iphone,iphone 11 and xr also good in th..."
9,5,Mind-blowing purchase,"beautiful shining, battery performance is too ..."

Now,lets Scrap for tenth page

In [93]:
df10=scrap_filpkart(10)
df10

,Rating,Review summary,Full review
0,5,Highly recommended,Iphone11 (4/64)GB Green color
1,5,Excellent,🤩🤩🤩🤩🤩🤩I loved the Phone.. Every time I pick up...
2,5,Fabulous!,Gift this to your loved ones fabulous product ...
3,1,Waste of money!,Mobile is not getting charge.Mobile cannot be ...
4,5,Terrific,I got this beast today. And I must say the pic...
5,5,Highly recommended,"Amazing camera quality as expected, battery al..."
6,5,Must buy!,Dear friends... I want to share my experience ...
7,5,Must buy!,Camera is excellent just lack of telephoto mod...
8,5,Excellent,It was amazing experience for me. Honestly i a...
9,5,Just wow!,"Not mere a phone , Its more than that for fun ..."

So we have the data for all pages in different DataFrames. Lets combine them into one and reset the Index

In [96]:
final_df=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10]).reset_index()

In [97]:
final_df=final_df.drop(['index'], axis = 1)

In [98]:
final_df

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Highly recommended,"Amazing camera quality as expected, battery al..."
96,5,Must buy!,Dear friends... I want to share my experience ...
97,5,Must buy!,Camera is excellent just lack of telephoto mod...
98,5,Excellent,It was amazing experience for me. Honestly i a...
99,5,Just wow!,"Not mere a phone , Its more than that for fun ..."

# Q6: 
Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes

In [22]:
driver=webdriver.Chrome('chromedriver.exe')

In [23]:
url='https://www.flipkart.com/'
#This opens the flipkart.com url automatically in the Chrome
driver.get(url)

In [24]:
#The login screen appears, lets close that
close_login_screen=driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()

We see that the login screen pop up gets closed and now we can proceed with Scraping the sneakers in the search field

In [25]:
#Finding web element for search job by using class name
search_sneakers=driver.find_element_by_xpath('/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_sneakers

In [26]:
#Next is if we write on Search bar, we will get the output
search_sneakers.send_keys('sneakers')

In [27]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [28]:
search_btn.click()

In [29]:
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)

40

In [30]:
prices=[]
for i in price:
    prices.append(i.text.replace('₹',''))
prices

['699',
 '499',
 '499',
 '649',
 '299',
 '199',
 '398',
 '259',
 '499',
 '249',
 '349',
 '449',
 '189',
 '429',
 '499',
 '499',
 '345',
 '472',
 '259',
 '549',
 '489',
 '549',
 '379',
 '259',
 '299',
 '474',
 '499',
 '499',
 '680',
 '1,924',
 '220',
 '499',
 '499',
 '259',
 '259',
 '474',
 '249',
 '499',
 '649',
 '1,648']

In [31]:
brand=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand)

40

In [32]:
brands=[]
for i in brand:
    brands.append(i.text)
brands

['Absolutee shoes',
 'Echor',
 'BRUTON',
 'Chevit',
 'BRUTON',
 'World Wear Footwear',
 'SCATCHITE',
 'Chevit',
 'Labbin',
 'CLYMB',
 'Elevarse',
 'RODDICK SHOES',
 'BRUTON',
 'luxury fashion',
 'BRUTON',
 'PEHANOSA',
 'Shoes Bank',
 'Magnolia',
 'BRUTON',
 'CLYMB',
 'Chevit',
 'Rzisbo',
 'aadi',
 'Chevit',
 'BIRDE',
 'Numenzo',
 'ASTEROID',
 'Echor',
 'RapidBox',
 'PUMA',
 'URBANBOX',
 'DUNKASTON',
 'Kraasa',
 'World Wear Footwear',
 'World Wear Footwear',
 'Echor',
 'CLYMB',
 'ASTEROID',
 'CLYMB',
 'RED TAPE']

In [33]:
prdoDesc=driver.find_elements_by_class_name("IRpwTa")
len(prdoDesc)

40

In [34]:
prdoDescs=[]
for i in prdoDesc:
    prdoDescs.append(i.text)
prdoDescs

['Sneakers For Men',
 "Echor Men's Sneakers Fashion Lightweight Running Shoes ...",
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Sneakers Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 'Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Stylish Comfortable shoes Sneakers For Men',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers Sneakers...',
 'Luxury Fashionable casual shoes Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneaker for men Sneakers For Men',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 "Perfect Casual Loafer Shoes for Men's Running Training ...",
 'Perfect & Affordable Combo Pack of 02 Pairs Sneakers Ou...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Trendy Sneakers Outdoor Loafer Sports for Running Rock ...',
 'Sports Running Shoes Sneakers For Men',
 '411 Casual Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'Puma Smash v2 L Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Sneakers For Men',
 'Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Clymb Training & Gym Shoes For Men Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Sneakers For Men']

In [35]:
dicountPercent=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(dicountPercent)

40

In [36]:
dicountPercents=[]
for i in dicountPercent:
    dicountPercents.append(i.text)
dicountPercents

['53% off',
 '66% off',
 '85% off',
 '59% off',
 '76% off',
 '60% off',
 '60% off',
 '67% off',
 '50% off',
 '75% off',
 '65% off',
 '55% off',
 '68% off',
 '66% off',
 '80% off',
 '50% off',
 '65% off',
 '52% off',
 '80% off',
 '45% off',
 '72% off',
 '45% off',
 '62% off',
 '48% off',
 '40% off',
 '76% off',
 '75% off',
 '50% off',
 '31% off',
 '45% off',
 '77% off',
 '75% off',
 '50% off',
 '48% off',
 '48% off',
 '68% off',
 '75% off',
 '50% off',
 '56% off',
 '70% off']

In [37]:
df1 = pd.DataFrame({'Brand':brands,'Product Description':prdoDescs,'Price':prices,'Discount':dicountPercents})
df1.head(40)

,Brand,Product Description,Price,Discount
0,Absolutee shoes,Sneakers For Men,699,53% off
1,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,499,66% off
2,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,499,85% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,649,59% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,299,76% off
5,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,199,60% off
6,SCATCHITE,Sneakers Sneakers For Men,398,60% off
7,Chevit,516 Trendy Star Perfect Sneakers For Men,259,67% off
8,Labbin,Sneakers For Men,499,50% off
9,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",249,75% off
10,Elevarse,Stylish Comfortable shoes Sneakers For Men,349,65% off
11,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,449,55% off
12,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,189,68% off
13,luxury fashion,Luxury Fashionable casual shoes Sneakers For Men,429,66% off
14,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,499,80% off
15,PEHANOSA,Sneaker for men Sneakers For Men,499,50% off
16,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,345,65% off
17,Magnolia,Sneakers For Men,472,52% off
18,BRUTON,Lattest Sneakers Shoe Sneakers For Men,259,80% off
19,CLYMB,Perfect Casual Loafer Shoes for Men's Running ...,549,45% off
20,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,489,72% off
21,Rzisbo,Sneakers For Men,549,45% off
22,aadi,Sneakers For Men,379,62% off
23,Chevit,Trendy Sneakers Outdoor Loafer Sports for Runn...,259,48% off
24,BIRDE,Sports Running Shoes Sneakers For Men,299,40% off
25,Numenzo,411 Casual Sneakers For Men,474,76% off
26,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,499,75% off
27,Echor,Men's Sneakers Fashion Lightweight Running Sho...,499,50% off
28,RapidBox,Sneakers For Men,680,31% off
29,PUMA,Puma Smash v2 L Sneakers For Men,"1,924",45% off
30,URBANBOX,Sneakers Sneakers For Men,220,77% off
31,DUNKASTON,Sneakers For Men,499,75% off
32,Kraasa,Shark-41 Sneakers For Men,499,50% off
33,World Wear Footwear,Sneakers For Men,259,48% off
34,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,259,48% off
35,Echor,Sneakers For Men,474,68% off
36,CLYMB,Clymb Training & Gym Shoes For Men Sneakers Fo...,249,75% off
37,ASTEROID,Original Luxury Branded Fashionable Men's Casu...,499,50% off
38,CLYMB,Sneakers For Men,649,56% off
39,RED TAPE,Sneakers For Men,"1,648",70% off

In [38]:
next_page_btn=driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')[0]
next_page_btn

In [39]:
next_page_btn.click()

In [40]:
price2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price2)

40

In [41]:
prices2=[]
for i in price2:
    prices2.append(i.text.replace('₹',''))
prices2

['449',
 '1,214',
 '499',
 '259',
 '199',
 '499',
 '499',
 '449',
 '474',
 '499',
 '399',
 '849',
 '299',
 '399',
 '259',
 '1,648',
 '1,799',
 '599',
 '299',
 '449',
 '259',
 '498',
 '435',
 '498',
 '328',
 '499',
 '420',
 '499',
 '449',
 '499',
 '433',
 '549',
 '249',
 '448',
 '549',
 '449',
 '499',
 '442',
 '1,259',
 '1,258']

In [42]:
brand2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand2)

40

In [43]:
brands2=[]
for i in brand2:
    brands2.append(i.text)
brands2

['BRUTON',
 'PUMA',
 'Kraasa',
 'Chevit',
 'Trendmode',
 'Robbie jones',
 'Xtoon',
 'RODDICK SHOES',
 'aadi',
 'corsac',
 'Noztile',
 'Extoes',
 'Chevit',
 'DUNKASTON',
 'BRUTON',
 'RED TAPE',
 'PUMA',
 'KNIGHT WALKERS',
 'D-SNEAKERZ',
 'Robbie jones',
 'Chevit',
 'Chevit',
 'Arohi',
 'DUNKASTON',
 'Zsyto',
 'Robbie jones',
 'Pieds',
 'Smoky',
 'aadi',
 'Echor',
 'RODDICK SHOES',
 'CALCADOS',
 'HOTSTYLE',
 'DRESTA',
 'ASIAN',
 'LE GREEM',
 'bluemaker',
 'BIRDE',
 'Bond Street By Red Tape',
 'RED TAPE']

In [44]:
prdoDesc2=driver.find_elements_by_class_name("IRpwTa")
len(prdoDesc2)

40

In [45]:
prdoDescs2=[]
for i in prdoDesc2:
    prdoDescs2.append(i.text)
prdoDescs2

['Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Ontario Sneakers For Men',
 'Series 7 Sneakers For Men',
 '512 Zebra Style Smart Lace-Ups Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Sneakers For Men',
 'STYLISH MENS BLACK AND WHITE SNEAKER Sneakers For Men',
 'Sneakers For Men',
 'Modern Trendy Shoes Combo pack of 4 Sneakers For Men',
 '494 Perfect Sports Shoes for Running Training Hikking &...',
 'Sneakers For Men',
 'CUBIC_1 Sneakers For Men',
 'Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Casual Sneakers Shoes For Men Sneakers For Men',
 '516 Trendy Star Perfect Sneakers For Men',
 "Men's Combo Pack of 02 Shoes for Men Casual Sneakers Ou...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Trendy Sneakers For Men',
 'Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Perfect Grip Combo pack Of 3 Sneakers For Men',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Comfortable & Smart Sneakers For Men',
 'casual for men Sneakers For Men',
 'Stylish and Trendy New Design Lightweight,Casual shoes ...',
 'Sneakers For Men',
 'Sneakers For Men']

In [46]:
dicountPercent2=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(dicountPercent2)

40

In [47]:
dicountPercents2=[]
for i in dicountPercent2:
    dicountPercents2.append(i.text)
dicountPercents2

['82% off',
 '59% off',
 '50% off',
 '48% off',
 '71% off',
 '50% off',
 '66% off',
 '55% off',
 '76% off',
 '66% off',
 '80% off',
 '43% off',
 '70% off',
 '73% off',
 '80% off',
 '70% off',
 '48% off',
 '60% off',
 '54% off',
 '55% off',
 '67% off',
 '50% off',
 '56% off',
 '50% off',
 '74% off',
 '50% off',
 '57% off',
 '58% off',
 '77% off',
 '50% off',
 '56% off',
 '45% off',
 '75% off',
 '77% off',
 '31% off',
 '55% off',
 '50% off',
 '55% off',
 '70% off',
 '70% off']

In [48]:
df2 = pd.DataFrame({'Brand':brands2,'Product Description':prdoDescs2,'Price':prices2,'Discount':dicountPercents2})
df2.head(40)

,Brand,Product Description,Price,Discount
0,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,449,82% off
1,PUMA,Ontario Sneakers For Men,"1,214",59% off
2,Kraasa,Series 7 Sneakers For Men,499,50% off
3,Chevit,512 Zebra Style Smart Lace-Ups Sneakers For Men,259,48% off
4,Trendmode,Sneakers For Men,199,71% off
5,Robbie jones,Sneakers For Men,499,50% off
6,Xtoon,"white Casual shoes,Sneakers for men's Sneakers...",499,66% off
7,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,449,55% off
8,aadi,Sneakers For Men,474,76% off
9,corsac,STYLISH MENS BLACK AND WHITE SNEAKER Sneakers ...,499,66% off
10,Noztile,Sneakers For Men,399,80% off
11,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,849,43% off
12,Chevit,494 Perfect Sports Shoes for Running Training ...,299,70% off
13,DUNKASTON,Sneakers For Men,399,73% off
14,BRUTON,CUBIC_1 Sneakers For Men,259,80% off
15,RED TAPE,Sneakers For Men,"1,648",70% off
16,PUMA,Smash v2 L White- Black Sneakers For Men,"1,799",48% off
17,KNIGHT WALKERS,Sneakers For Men,599,60% off
18,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",299,54% off
19,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,449,55% off
20,Chevit,516 Trendy Star Perfect Sneakers For Men,259,67% off
21,Chevit,Men's Combo Pack of 02 Shoes for Men Casual Sn...,498,50% off
22,Arohi,Sneakers For Men,435,56% off
23,DUNKASTON,Sneakers For Men,498,50% off
24,Zsyto,Sneakers For Men,328,74% off
25,Robbie jones,Sneakers For Men,499,50% off
26,Pieds,Sneakers For Men,420,57% off
27,Smoky,Trendy Sneakers For Men,499,58% off
28,aadi,Sneakers For Men,449,77% off
29,Echor,Men's Sneakers Fashion Lightweight Running Sho...,499,50% off
30,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,433,56% off
31,CALCADOS,Perfect Grip Combo pack Of 3 Sneakers For Men,549,45% off
32,HOTSTYLE,Sneakers For Men,249,75% off
33,DRESTA,Original Luxury Branded Fashionable Men's Casu...,448,77% off
34,ASIAN,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",549,31% off
35,LE GREEM,Comfortable & Smart Sneakers For Men,449,55% off
36,bluemaker,casual for men Sneakers For Men,499,50% off
37,BIRDE,"Stylish and Trendy New Design Lightweight,Casu...",442,55% off
38,Bond Street By Red Tape,Sneakers For Men,"1,259",70% off
39,RED TAPE,Sneakers For Men,"1,258",70% off

In [49]:
next_page_btn=driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[4]')[0]
next_page_btn

In [50]:
next_page_btn.click()

In [51]:
price3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price3)

40

In [63]:
prices3=[]
for i in price3:
    prices3.append(i.text.replace('₹',''))
prices3[0:20]

['259',
 '499',
 '690',
 '449',
 '449',
 '499',
 '711',
 '499',
 '472',
 '849',
 '498',
 '499',
 '6,999',
 '429',
 '449',
 '550',
 '428',
 '2,289',
 '498',
 '1,678']

In [64]:
brand3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(brand3)

40

In [65]:
brands3=[]
for i in brand3:
    brands3.append(i.text)
brands3[0:20]

['World Wear Footwear',
 'BRUTON',
 'RapidBox',
 'Strollin',
 'LE GREEM',
 'Echor',
 'Vellinto',
 'Echor',
 'Magnolia',
 'SPARX',
 'aadi',
 'Smoky',
 'PUMA',
 'Numenzo',
 'LE GREEM',
 'Vigglo Fashion',
 'RODDICK SHOES',
 'PUMA',
 'Chevit',
 'RED TAPE']

In [66]:
prdoDesc3=driver.find_elements_by_class_name("IRpwTa")
len(prdoDesc3)

40

In [67]:
prdoDescs3=[]
for i in prdoDesc3:
    prdoDescs3.append(i.text)
prdoDescs3[0:20]

['Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'RapidBox Men Shoes Sneakers For Men',
 'Sneakers For Men',
 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Casual Sneakrs For Men Sneakers For Men',
 "Men's Sneakers Walking Shoes - Lightweight Classic Whit...",
 'Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'X-Ray 2 Square Sneakers For Men',
 'White Sneaker For Men Sneakers For Men',
 'Comfortable & Smart Sneakers For Men',
 'Casual syenthetic shoes men boys for party wear/sneaker...',
 'Fashion Outdoor Canvas Casual Light Weight Lace-up Even...',
 'Puma Rebound LayUp SL Sneakers For Men',
 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...',
 'Classic Sneakers For Men']

In [68]:
dicountPercent3=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')

In [69]:
dicountPercents3=[]
for i in dicountPercent3:
    dicountPercents3.append(i.text)
dicountPercents3[0:20]

['48% off',
 '87% off',
 '30% off',
 '55% off',
 '55% off',
 '50% off',
 '45% off',
 '66% off',
 '52% off',
 '75% off',
 '58% off',
 '66% off',
 '55% off',
 '57% off',
 '57% off',
 '54% off',
 '66% off',
 '70% off',
 '56% off',
 '42% off']

In [70]:
df_3 = pd.DataFrame({'Brand':brands,'Product Description':prdoDescs,'Price':prices,'Discount':dicountPercents})
df3=df_3.head(20)
df3

,Brand,Product Description,Price,Discount
0,Absolutee shoes,Sneakers For Men,699,53% off
1,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,499,66% off
2,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,499,85% off
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,649,59% off
4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,299,76% off
5,World Wear Footwear,5011-Latest Collection Stylish Casual Loafer S...,199,60% off
6,SCATCHITE,Sneakers Sneakers For Men,398,60% off
7,Chevit,516 Trendy Star Perfect Sneakers For Men,259,67% off
8,Labbin,Sneakers For Men,499,50% off
9,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",249,75% off
10,Elevarse,Stylish Comfortable shoes Sneakers For Men,349,65% off
11,RODDICK SHOES,Fashion Outdoor Canvas Casual Light Weight Lac...,449,55% off
12,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,189,68% off
13,luxury fashion,Luxury Fashionable casual shoes Sneakers For Men,429,66% off
14,BRUTON,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,499,80% off
15,PEHANOSA,Sneaker for men Sneakers For Men,499,50% off
16,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,345,65% off
17,Magnolia,Sneakers For Men,472,52% off
18,BRUTON,Lattest Sneakers Shoe Sneakers For Men,259,80% off
19,CLYMB,Perfect Casual Loafer Shoes for Men's Running ...,549,45% off

In [72]:
z=pd.concat([df1, df2, df3])

In [74]:
z.reset_index()

,index,Brand,Product Description,Price,Discount
0,0,Absolutee shoes,Sneakers For Men,699,53% off
1,1,Echor,Echor Men's Sneakers Fashion Lightweight Runni...,499,66% off
2,2,BRUTON,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,499,85% off
3,3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,649,59% off
4,4,BRUTON,Modern Trendy Sneakers Shoes Sneakers For Men,299,76% off
...,...,...,...,...,...
95,15,PEHANOSA,Sneaker for men Sneakers For Men,499,50% off
96,16,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,345,65% off
97,17,Magnolia,Sneakers For Men,472,52% off
98,18,BRUTON,Lattest Sneakers Shoe Sneakers For Men,259,80% off
99,19,CLYMB,Perfect Casual Loafer Shoes for Men's Running ...,549,45% off

In [75]:
driver.close

# Q7: 
Go to the link - https://www.myntra.com/shoes

1) Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

2) And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

In [99]:
driver=webdriver.Chrome('chromedriver.exe')

In [100]:
url='https://www.myntra.com/shoes'
#This opens the https://www.myntra.com/shoes url automatically in the Chrome
driver.get(url)

In [101]:
#Apply Filter on Prices from Rs 7149 to 14099
price_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price_filter

In [102]:
price_filter.click()

In [103]:
#Apply Filter on Color to Black
color_filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color_filter

In [104]:
color_filter.click()

Lets Scrap the Brands from all Pages, We are just scrapping 2 pages as one page as 50 brands

In [106]:
brands = []
for i in range(2):
    print('Scraping page', i+1)
    brand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
    for p in brand:
        brands.append(p.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-active"]')
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2

In [107]:
len(brands)

100

In [108]:
brands

['Nike',
 'Tommy Hilfiger',
 'ALDO',
 'Nike',
 'DAVINCHI',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'New Balance',
 'ASICS',
 'RARE RABBIT',
 'Skechers',
 'Puma',
 'PUMA Motorsport',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'Tommy Hilfiger',
 'New Balance',
 'Puma',
 'Reebok',
 'Bugatti',
 'RARE RABBIT',
 'New Balance',
 'Puma',
 'Bugatti',
 'ALDO',
 'Columbia',
 'Xtep',
 'Saint G',
 'ASICS',
 'Puma',
 'Saint G',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Hush Puppies',
 'Royal Enfield',
 'J.FONTINI',
 'Heel & Buckle London',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Tommy Hilfiger',
 'Clarks',
 'Nike',
 'Tommy Hilfiger',
 'ALDO',
 'Nike',
 'DAVINCHI',
 'Tommy Hilfiger',
 'Tommy Hilfiger',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'Puma',
 'New Balance',
 'ASICS',
 'RARE RABBIT',
 'Skechers',
 'Puma',
 'PUMA Motorsport',
 'Hush Puppies',
 'Puma',
 'Hush Puppies',
 'Tommy Hilfiger',
 'New Balance',
 'Puma',
 'Reebok',
 'Bugatti',
 'RARE RABBIT',
 'New Balance',
 'Puma',
 'Bugatti',
 'ALDO',
 'Columbia',
 'Xtep',
 'Saint G',
 'ASICS',
 'Puma',
 'Saint G',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Hush Puppies',
 'Royal Enfield',
 'J.FONTINI',
 'Heel & Buckle London',
 'Hush Puppies',
 'Hush Puppies',
 'DAVINCHI',
 'Saint G',
 'Tommy Hilfiger',
 'Clarks']

Lets Scrap Short Shoe Description from all Pages

In [113]:
shoeDesc = []
for i in range(2):
    print('Scraping page', i+1)
    desc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
    for d in desc:
        shoeDesc.append(d.text)
    next_button = driver.find_element_by_xpath('//li[@class="pagination-active"]')
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2

In [114]:
len(shoeDesc)

100

In [115]:
shoeDesc

['Men AIR ZOOM PEGASUS 38',
 'Men Solid Loafers',
 'Men Printed Sneakers',
 'Men Blazer Court Skateboarding',
 'Men Textured Formal Leather Loafers',
 'Men Leather Sneakers',
 'Men Leather Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Deviate Nitro Running Shoe',
 'Men Electrify Nitro Running',
 'Men Woven Design Running Shoes',
 'Women Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Go Run Hyper Burst Running',
 'Men Training or Gym Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Magnify Nitro Shoes',
 'Men Perforations Leather Slip-On Sneakers',
 'Leather Sandals',
 'Men Woven Design Running Shoes',
 'Men Liberate Nitro Running',
 'Men Astroride Forever Running',
 'Men Black Walking Shoes',
 'Men Leather Flat Boots',
 'Men Woven Design Running Shoes',
 'Women Eternity NITRO Shoes',
 'Men Textured Leather High-Top Flat Boots',
 'Wedge Sandals',
 'NEWTON RIDGE PLUS II WATERPROOF',
 'Men Running Shoes',
 'Men Mid-Top Chelsea Boots',
 'Men Colourblocked PU Sneakers',
 'Women Velocity NITRO Runners',
 'Men Leather Chelsea Boots',
 'Men Solid Leather Formal Derbys',
 'Men Formal Derbys',
 'Ustraa black',
 'Men Solid Formal Slip-Ons',
 'Cabo WP Riding Boots',
 'Men Textured Leather Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women ELEVATED Leather Sneaker',
 'Men Solid Leather Formal Loafers',
 'Men AIR ZOOM PEGASUS 38',
 'Men Solid Loafers',
 'Men Printed Sneakers',
 'Men Blazer Court Skateboarding',
 'Men Textured Formal Leather Loafers',
 'Men Leather Sneakers',
 'Men Leather Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Men Running Shoes',
 'Men Magnify Nitro Running',
 'Men Deviate Nitro Running Shoe',
 'Men Electrify Nitro Running',
 'Men Woven Design Running Shoes',
 'Women Running Shoes',
 'Men Leather Slip-On Sneakers',
 'Men Go Run Hyper Burst Running',
 'Men Training or Gym Shoes',
 'Unisex Ferrari Drift8 Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Women Magnify Nitro Shoes',
 'Men Perforations Leather Slip-On Sneakers',
 'Leather Sandals',
 'Men Woven Design Running Shoes',
 'Men Liberate Nitro Running',
 'Men Astroride Forever Running',
 'Men Black Walking Shoes',
 'Men Leather Flat Boots',
 'Men Woven Design Running Shoes',
 'Women Eternity NITRO Shoes',
 'Men Textured Leather High-Top Flat Boots',
 'Wedge Sandals',
 'NEWTON RIDGE PLUS II WATERPROOF',
 'Men Running Shoes',
 'Men Mid-Top Chelsea Boots',
 'Men Colourblocked PU Sneakers',
 'Women Velocity NITRO Runners',
 'Men Leather Chelsea Boots',
 'Men Solid Leather Formal Derbys',
 'Men Formal Derbys',
 'Ustraa black',
 'Men Solid Formal Slip-Ons',
 'Cabo WP Riding Boots',
 'Men Textured Leather Loafers',
 'Men Solid Leather Formal Loafers',
 'Men Leather Derbys',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women ELEVATED Leather Sneaker',
 'Men Solid Leather Formal Loafers']

In [134]:
prices = []
for i in range(2):
    print('Scraping page', i+1)
    price = driver.find_elements_by_xpath('//div[@class="product-price"]')
    for i in price:
        prices.append(i.text[0:10].replace('Rs. ','').replace('R','').replace('Rs',''))
    next_button = driver.find_element_by_xpath('//li[@class="pagination-active"]')
    next_button.click()
    sleep(2)

Scraping page 1
Scraping page 2

In [117]:
len(prices)

100

In [135]:
prices

['10920',
 '8999',
 '9099s',
 '7495',
 '8990',
 '7999',
 '7999',
 '12999',
 '9749s',
 '7799s',
 '10499',
 '9999',
 '7499s',
 '7999',
 '7999',
 '7649s',
 '7999',
 '7999',
 '8999',
 '7799s',
 '7999',
 '7599',
 '8249s',
 '7499s',
 '7199s',
 '7199s',
 '7999s',
 '8499s',
 '12999',
 '8399s',
 '7999',
 '8499',
 '7699',
 '10500',
 '9999',
 '7149s',
 '10710',
 '9999',
 '9999',
 '8990',
 '9999',
 '8500',
 '8490',
 '11990',
 '7999',
 '9999',
 '8490',
 '12325',
 '7219s',
 '7999',
 '10920',
 '8999',
 '9099s',
 '7495',
 '8990',
 '7999',
 '7999',
 '12999',
 '9749s',
 '7799s',
 '10499',
 '9999',
 '7499s',
 '7999',
 '7999',
 '7649s',
 '7999',
 '7999',
 '8999',
 '7799s',
 '7999',
 '7599',
 '8249s',
 '7499s',
 '7199s',
 '7199s',
 '7999s',
 '8499s',
 '12999',
 '8399s',
 '7999',
 '8499',
 '7699',
 '10500',
 '9999',
 '7149s',
 '10710',
 '9999',
 '9999',
 '8990',
 '9999',
 '8500',
 '8490',
 '11990',
 '7999',
 '9999',
 '8490',
 '12325',
 '7219s',
 '7999']

Create a Dataframe and combine all prices

In [136]:
df =(pd.DataFrame({'Brand':brands,'Short Shoe Description':shoeDesc,'Price':prices}))
df

             Brand               Short Shoe Description  Price
0             Nike              Men AIR ZOOM PEGASUS 38  10920
1   Tommy Hilfiger                    Men Solid Loafers   8999
2             ALDO                 Men Printed Sneakers  9099s
3             Nike       Men Blazer Court Skateboarding   7495
4         DAVINCHI  Men Textured Formal Leather Loafers   8990
..             ...                                  ...    ...
95    Hush Puppies    Men Solid Leather Formal Slip-Ons   9999
96        DAVINCHI     Men Solid Leather Formal Loafers   8490
97         Saint G           Women Leather Heeled Boots  12325
98  Tommy Hilfiger       Women ELEVATED Leather Sneaker  7219s
99          Clarks     Men Solid Leather Formal Loafers   7999

[100 rows x 3 columns]

# Q8
Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

In [137]:
driver=webdriver.Chrome('chromedriver.exe')

In [138]:
url='https://www.amazon.in/'
#This opens the amazon.in url automatically in the Chrome
driver.get(url)

In [139]:
#Finding web element for search job by using class name
search_job=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_job

In [140]:
#Next is if we write on Search bar, we will get the output
search_job.send_keys('Laptop')

In [141]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_btn

In [142]:
search_btn.click()

In [143]:
apply_i7_filter=driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/div/label/i')
apply_i7_filter

In [144]:
sleep(2)

In [145]:
apply_i7_filter.click()

In [146]:
titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
len(titles)

30

In [147]:
ptitles=[]
for i in titles:
    ptitles.append(i.text)
prodTitle=ptitles[0:10]
prodTitle

['Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T',
 'HP Pavilion x360 11th Gen Intel Core i7-16GB RAM/512GB SSD 14-inch(35.6 cm) FHD, IPS, Convertible Laptop (B&O/Win 11/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'LG Gram Intel Evo 11th Gen Core i7 17 inches Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.35 kg, 17Z90P-G.AH85A2, Black)',
 'Lenovo ThinkBook 13s Intel 11th Gen Core i7 13.3"(33.78 cm) WQXGA IPS 300 nits 100% sRGB Dolby Vision Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/FPR/Mineral Grey/1.26 Kg), 20V9A05FIH',
 'LG Gram 14 inches Ultra-Light Intel Evo 11th Gen Core i7 Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 0.999Kg, (14Z90P-G.AH85A2, Black)',
 'MSI GF75 Thin Gaming, Intel Core i7-10750H, 44cm IPS-Level 144Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia GeForce GTX 1650/GDDR6 4GB/Black/2.2kg) 10SCXR-654IN']

In [149]:
rating=driver.find_elements_by_xpath('//*[contains(@aria-label,"stars")]')
rating

[<selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="773b695b-ad5a-4abd-a818-e6ca4c327917")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="39b06572-71cb-4ce8-8d1c-3de201c079a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="f4488a04-935f-47dc-b458-9497e92f97fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="18e683db-3886-4ac1-a3d4-e6bfee3bed12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="c7cd994e-90ca-4f8a-af29-11149716a51f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="5fd39dcf-b3ce-4017-a8c9-55582a5bc82d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="70bd60cf-d977-4858-9fa7-a312f5841521")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="6ab8300a-93d5-4a07-8578-d3c5982fcb0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="c40a2f36-8eb4-4883-805a-74b97536842f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="f83d123d-a9ac-4981-86ca-4739c8627e88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="56229f46-7a83-414c-a8d5-1fb73dbdf4ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="fdda670b-7a68-4981-8393-4829d45124e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="6d493726-ede9-48bd-8402-3c3435775f97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="db8188ee-3bd4-4ccd-8e13-1976705a55d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="33c9f23d-aa88-4ffe-bf0f-840d2b9ddf49")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="84617603-e767-4d31-a85e-2eb3427383e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="349612d6-860c-48be-8b6d-28e916cedc3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="96130d9a-ca36-4c39-94d6-12f4ce1cd819")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="a05b04cf-428c-4713-92c9-3bba4fc3712b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="dc62ae6c-b829-408a-947b-76eb448fe9bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="1ed4e37c-6b26-449f-aee2-437e1d31f104")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="455b503e-6583-4dbc-b1ca-fcf90092b950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="cf96d52e-62fb-482e-a485-36cc62a61af4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="b8c07987-21bd-4290-acfb-344f7a237cf8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="4a958aec-1e26-4793-8993-ce5844519d72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d781fe6ad6c0917f3b6331d56eaab6a9", element="b37869be-52a5-4dc8-9c0a-45080559cd9a")>]

In [157]:
ratings=[]
for i in rating:
    ratings.append(i.text)
ratings=ratings[0:10]
ratings

['', '', '', '', '', '', '', '', '', '']

Important : The rating here is blank because the screen doesn't show Ratings.It only shows stars not the rating. For this we have to scrap it by going into Individual URLs

In [151]:
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')

In [152]:
prices=[]
for i in price:
    prices.append(i.text)
prod_price=prices[0:10]
prod_price

['92,490',
 '90,999',
 '59,990',
 '96,990',
 '86,990',
 '83,990',
 '99,999',
 '84,990',
 '85,999',
 '70,000']

In [161]:
df= pd.DataFrame({'Title':prodTitle,'Rating':ratings,'Price':prod_price})
df

                                               Title Rating   Price
0  Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....         92,490
1  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...         90,999
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...         59,990
3  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...         96,990
4  HP Pavilion x360 11th Gen Intel Core i7-16GB R...         86,990
5  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...         83,990
6  LG Gram Intel Evo 11th Gen Core i7 17 inches U...         99,999
7  Lenovo ThinkBook 13s Intel 11th Gen Core i7 13...         84,990
8  LG Gram 14 inches Ultra-Light Intel Evo 11th G...         85,999
9  MSI GF75 Thin Gaming, Intel Core i7-10750H, 44...         70,000

# Q9
Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button

In [167]:
def scrap_ambitionBox():
    driver=webdriver.Chrome('chromedriver.exe')
    url='https://www.ambitionbox.com/'
    #print(url)
    driver.get(url)
    sleep(2)
    job_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()
    sleep(2)
    
    search_job=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
        
    search_job.send_keys('Data Scientist')
    search_job
    
    search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
    search_btn.click()
    sleep(2)
    
    #Name of the Company
    company_name=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
    #len(company_name)
    company_names=[]
    for i in company_name:
        company_names.append(i.text)
    company_names
    posted=driver.find_elements_by_xpath('//div//span[@class="body-small-l"]')
    #len(posted)
    
    durations=[]
    for i in posted:
        durations.append(i.text.replace('via naukri.com',''))
    durations[0:20:2]
    actualdurations=durations[0:20:2]
    actualdurations
    
    rating=driver.find_elements_by_xpath('//span[@class="body-small"]')
    #len(rating)
    
    ratings=[]
    for i in rating:
        ratings.append(i.text)
    ratings  
    df= pd.DataFrame({'Company Name':company_names,',No. of days ago when job was posted':actualdurations,'Rating of the company':ratings})
    return(df)

In [168]:
scrap_ambitionBox()

,Company Name,",No. of days ago when job was posted",Rating of the company
0,Intel Technology India Pvt Ltd,18hr ago,4.3
1,Nokia Solutions and Networks India (P)Ltd.,18hr ago,4.3
2,RELIANCE RETAIL LIMITED,2d ago,4.0
3,Walmart Labs,2d ago,4.1
4,Walmart Labs,2d ago,4.1
5,Ericsson India Global Services Pvt. Ltd.,6d ago,4.2
6,IBM India Pvt. Limited,6d ago,4.1
7,GlaxoSmithKline Pharmaceuticals Limited,9d ago,4.3
8,IBM India Pvt. Limited,7d ago,4.1
9,IBM India Pvt. Limited,7d ago,4.1

# Q10: 
Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average, salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [169]:
driver=webdriver.Chrome('chromedriver.exe')

In [170]:
url='https://www.ambitionbox.com/'
    #print(url)
driver.get(url)

In [171]:
sleep(2)

In [172]:
job_option = driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()
sleep(2)

In [173]:
search_job=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
#search_job
    
search_job.send_keys('Data Scientist')
search_job

In [174]:
search_btn=driver.find_element_by_xpath('//i[@class="icon-search"]').click()
sleep(2)

In [175]:
company_name=driver.find_elements_by_xpath('//div[@class="company-info"]')

In [176]:
len(company_name)

25

In [177]:
#Get the name of Company and split with \n to get the name
company_names=[]
for i in company_name:
    company_names.append(i.text.split('\n'))
organisation=company_names[0:10]
organisation

[['Tekion', 'based on 10 salaries', 'Software Engineer', ' . ', '4 yrs exp'],
 ['Microsoft Corporation',
  'based on 227 salaries',
  'Software Engineer',
  ' . ',
  '1-4 yrs exp'],
 ['Goldman Sachs',
  'based on 12 salaries',
  'Software Engineer',
  ' . ',
  '2 yrs exp'],
 ['Flipkart',
  'based on 53 salaries',
  'Software Engineer',
  ' . ',
  '1-4 yrs exp'],
 ['PayPal', 'based on 22 salaries', 'Software Engineer', ' . ', '1-2 yrs exp'],
 ['Amazon', 'based on 89 salaries', 'Software Engineer', ' . ', '1-4 yrs exp'],
 ['Servicenow Software Development India',
  'based on 41 salaries',
  'Software Engineer',
  ' . ',
  '2-4 yrs exp'],
 ['Arcesium',
  'based on 48 salaries',
  'Software Engineer',
  ' . ',
  '1-2 yrs exp'],
 ['Walmart',
  'based on 82 salaries',
  'Software Engineer',
  ' . ',
  '1-4 yrs exp'],
 ['ServiceNow',
  'based on 18 salaries',
  'Software Engineer',
  ' . ',
  '3 yrs exp']]

In [178]:
records=[]
for i in company_name:
    records.append(i.text)
total_record=records[0:10]
total_record

['Tekion\nbased on 10 salaries\nSoftware Engineer\n . \n4 yrs exp',
 'Microsoft Corporation\nbased on 227 salaries\nSoftware Engineer\n . \n1-4 yrs exp',
 'Goldman Sachs\nbased on 12 salaries\nSoftware Engineer\n . \n2 yrs exp',
 'Flipkart\nbased on 53 salaries\nSoftware Engineer\n . \n1-4 yrs exp',
 'PayPal\nbased on 22 salaries\nSoftware Engineer\n . \n1-2 yrs exp',
 'Amazon\nbased on 89 salaries\nSoftware Engineer\n . \n1-4 yrs exp',
 'Servicenow Software Development India\nbased on 41 salaries\nSoftware Engineer\n . \n2-4 yrs exp',
 'Arcesium\nbased on 48 salaries\nSoftware Engineer\n . \n1-2 yrs exp',
 'Walmart\nbased on 82 salaries\nSoftware Engineer\n . \n1-4 yrs exp',
 'ServiceNow\nbased on 18 salaries\nSoftware Engineer\n . \n3 yrs exp']

In [179]:
data=pd.DataFrame(organisation)

In [180]:
#Rename the Columns for meaningful names
data.rename(columns={0: "Company Name",1:"Total_Salary_Record",2:"Designation",3:"Sep",4:"Experience_Required"}, errors="raise",inplace=True)

In [181]:
data

,Company Name,Total_Salary_Record,Designation,Sep,Experience_Required
0,Tekion,based on 10 salaries,Software Engineer,.,4 yrs exp
1,Microsoft Corporation,based on 227 salaries,Software Engineer,.,1-4 yrs exp
2,Goldman Sachs,based on 12 salaries,Software Engineer,.,2 yrs exp
3,Flipkart,based on 53 salaries,Software Engineer,.,1-4 yrs exp
4,PayPal,based on 22 salaries,Software Engineer,.,1-2 yrs exp
5,Amazon,based on 89 salaries,Software Engineer,.,1-4 yrs exp
6,Servicenow Software Development India,based on 41 salaries,Software Engineer,.,2-4 yrs exp
7,Arcesium,based on 48 salaries,Software Engineer,.,1-2 yrs exp
8,Walmart,based on 82 salaries,Software Engineer,.,1-4 yrs exp
9,ServiceNow,based on 18 salaries,Software Engineer,.,3 yrs exp

In [182]:
#Lets drop Designation and Separator as it is not required
data_new= data.drop(['Designation','Sep'],axis=1,inplace=True)

In [183]:
#Finally we have our required data from the elements.
data

,Company Name,Total_Salary_Record,Experience_Required
0,Tekion,based on 10 salaries,4 yrs exp
1,Microsoft Corporation,based on 227 salaries,1-4 yrs exp
2,Goldman Sachs,based on 12 salaries,2 yrs exp
3,Flipkart,based on 53 salaries,1-4 yrs exp
4,PayPal,based on 22 salaries,1-2 yrs exp
5,Amazon,based on 89 salaries,1-4 yrs exp
6,Servicenow Software Development India,based on 41 salaries,2-4 yrs exp
7,Arcesium,based on 48 salaries,1-2 yrs exp
8,Walmart,based on 82 salaries,1-4 yrs exp
9,ServiceNow,based on 18 salaries,3 yrs exp

In [184]:
#Lets get the Salary now
salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(salary)

20

In [186]:
min_salary=[]
for i in salary:
    min_salary.append(i.text)
min_salary
min_salary[0:20:2]
minm_salary=min_salary[0:20:2]
minm_salary

['₹ 14.0L',
 '₹ 13.0L',
 '₹ 16.0L',
 '₹ 7.5L',
 '₹ 12.0L',
 '₹ 8.0L',
 '₹ 12.0L',
 '₹ 12.0L',
 '₹ 10.0L',
 '₹ 11.0L']

In [187]:
max_salary=[]
for i in salary:
    max_salary.append(i.text)
max_salary
max_salary[1:21:2]
maxm_salary=min_salary[1:21:2]
maxm_salary

['₹ 32.0L',
 '₹ 45.0L',
 '₹ 30.0L',
 '₹ 30.0L',
 '₹ 28.4L',
 '₹ 41.5L',
 '₹ 25.8L',
 '₹ 30.0L',
 '₹ 32.0L',
 '₹ 23.0L']

In [188]:
avg_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(avg_salary)

10

In [189]:
avgSalary=[]
for i in avg_salary:
    avgSalary.append(i.text.replace('₹ ',''))
avgSalary

['23.3L',
 '23.1L',
 '22.1L',
 '20.9L',
 '20.0L',
 '19.3L',
 '19.0L',
 '18.4L',
 '18.0L',
 '17.3L']

In [190]:
# Here we have our salary data which has Average Salary, Minimum Salary and MAximum Salary
salary_data=pd.DataFrame({'Average_Salary':avgSalary ,'Minimum_Salary' :minm_salary ,'Maximum_Salary':maxm_salary})
salary_data

  Average_Salary Minimum_Salary Maximum_Salary
0          23.3L        ₹ 14.0L        ₹ 32.0L
1          23.1L        ₹ 13.0L        ₹ 45.0L
2          22.1L        ₹ 16.0L        ₹ 30.0L
3          20.9L         ₹ 7.5L        ₹ 30.0L
4          20.0L        ₹ 12.0L        ₹ 28.4L
5          19.3L         ₹ 8.0L        ₹ 41.5L
6          19.0L        ₹ 12.0L        ₹ 25.8L
7          18.4L        ₹ 12.0L        ₹ 30.0L
8          18.0L        ₹ 10.0L        ₹ 32.0L
9          17.3L        ₹ 11.0L        ₹ 23.0L

In [191]:
#Lets join the data and salary data to get the excat output
result = pd.concat([data, salary_data], axis=1, join='inner')

In [192]:
result

,Company Name,Total_Salary_Record,Experience_Required,Average_Salary,Minimum_Salary,Maximum_Salary
0,Tekion,based on 10 salaries,4 yrs exp,23.3L,₹ 14.0L,₹ 32.0L
1,Microsoft Corporation,based on 227 salaries,1-4 yrs exp,23.1L,₹ 13.0L,₹ 45.0L
2,Goldman Sachs,based on 12 salaries,2 yrs exp,22.1L,₹ 16.0L,₹ 30.0L
3,Flipkart,based on 53 salaries,1-4 yrs exp,20.9L,₹ 7.5L,₹ 30.0L
4,PayPal,based on 22 salaries,1-2 yrs exp,20.0L,₹ 12.0L,₹ 28.4L
5,Amazon,based on 89 salaries,1-4 yrs exp,19.3L,₹ 8.0L,₹ 41.5L
6,Servicenow Software Development India,based on 41 salaries,2-4 yrs exp,19.0L,₹ 12.0L,₹ 25.8L
7,Arcesium,based on 48 salaries,1-2 yrs exp,18.4L,₹ 12.0L,₹ 30.0L
8,Walmart,based on 82 salaries,1-4 yrs exp,18.0L,₹ 10.0L,₹ 32.0L
9,ServiceNow,based on 18 salaries,3 yrs exp,17.3L,₹ 11.0L,₹ 23.0L