In [26]:
# Importing Libraries
import selenium
import pandas as pd
from selenium import webdriver
import time

import warnings
warnings.filterwarnings("ignore")
# Importing required Exceptions 
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [27]:
def car24(a,b):
    driver = webdriver.Chrome('chromedriver.exe')
    #Extract car from Mumbai region
    driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId='+str(a)+'&pinId='+str(b)+'')
    driver.maximize_window()
    time.sleep(2)
    # 500 time we scroll down by 10000 in order to generate more images on the website
    for _ in range(500):
        driver.execute_script("window.scrollBy(0,10000)")   
    
    #Make empty lists  
    car_Brand=[]
    car_owner=[]
    car_kilometers=[]
    car_fuel_type=[]
    car_registration=[]
    car_price=[]
    car_model=[]
    car_transmission=[]
    # Extracting Brand from xpath
    try:
        for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
            car_Brand.append(i.text)
    except NoSuchElementException:
        car_Brand.append("_")

    # Extracting Name from xpath
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[2]"):
            car_owner.append(i.text)
    except NoSuchElementException:
        car_owner.append('-')

    # Extracting colour from xpath
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[1]"):
            car_kilometers.append(i.text)
    except NoSuchElementException:
        car_kilometers.append('-')


    # Extracting colour from xpath
    try:
        for i in driver.find_elements_by_xpath("//p[@class='cvakB']/span"):
            car_transmission.append(i.text)
    except NoSuchElementException:
        car_transmission.append('-')

    # Extracting Name from xpath
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_1l4fi']/ul/li[3]"):
            car_fuel_type.append(i.text)
    except NoSuchElementException:
        car_fuel_type.append('-')

    # Extracting Name from xpath
    try:
        for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
            car_model.append(i.text)
    except NoSuchElementException:
        car_model.append('-')        

    # Extracting colour from xpath
    try:
        for i in driver.find_elements_by_xpath("//div[@class='_19zc5']/div[2]"):
            car_price.append(i.text)
    except NoSuchElementException:
        car_price.append('-')

    car=pd.DataFrame({})
    car["car_Brand"]=car_Brand
    car["car_owner"]=car_owner
    car["car_kilometers"]=car_kilometers
    car["car_fuel_type"]=car_fuel_type
    car["car_transmission"]=car_transmission
    car["car_model"]=car_model
    car["car_price"]=car_price
    return(car)

In [28]:
mumbai=  car24(2378,400001)
mumbai

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price
0,2014 Honda Amaze,1st Owner,"53,242 km",Petrol,Manual,1.2 SMT I VTEC Manual,"₹4,13,999"
1,2019 Maruti Dzire,1st Owner,"31,248 km",Petrol,Automatic,VXI AMT Automatic,"₹7,14,299"
2,2017 Ford Ecosport,1st Owner,471 km,Petrol,Automatic,1.5 TITANIUM TI VCT AT Automatic,"₹8,44,999"
3,2019 KIA SELTOS,1st Owner,"12,407 km",Petrol,Manual,GTX+ 1.4 MT Manual,"₹16,13,699"
4,2017 Hyundai Elite i20,1st Owner,"35,164 km",Petrol,Manual,ASTA 1.2 Manual,"₹6,53,299"
...,...,...,...,...,...,...,...
689,2021 MG HECTOR,1st Owner,"8,077 km",Petrol,Automatic,SHARP CVT Automatic,"₹20,75,099"
690,2021 Maruti Alto,1st Owner,"9,706 km",Petrol,Manual,LXI OPT Manual,"₹4,50,999"
691,2021 Maruti S PRESSO,1st Owner,697 km,Petrol,Manual,VXI PLUS Manual,"₹5,27,999"
692,2016 Honda Brio,1st Owner,"59,581 km",Petrol,Manual,1.2 S MT I VTEC Manual,"₹3,73,799"
693,2017 Honda Jazz,1st Owner,"57,606 km",Petrol,Automatic,1.2 V AT Automatic,"₹6,58,199"

In [29]:
mumbai['location']='Mumbai'
mumbai

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2014 Honda Amaze,1st Owner,"53,242 km",Petrol,Manual,1.2 SMT I VTEC Manual,"₹4,13,999",Mumbai
1,2019 Maruti Dzire,1st Owner,"31,248 km",Petrol,Automatic,VXI AMT Automatic,"₹7,14,299",Mumbai
2,2017 Ford Ecosport,1st Owner,471 km,Petrol,Automatic,1.5 TITANIUM TI VCT AT Automatic,"₹8,44,999",Mumbai
3,2019 KIA SELTOS,1st Owner,"12,407 km",Petrol,Manual,GTX+ 1.4 MT Manual,"₹16,13,699",Mumbai
4,2017 Hyundai Elite i20,1st Owner,"35,164 km",Petrol,Manual,ASTA 1.2 Manual,"₹6,53,299",Mumbai
...,...,...,...,...,...,...,...,...
689,2021 MG HECTOR,1st Owner,"8,077 km",Petrol,Automatic,SHARP CVT Automatic,"₹20,75,099",Mumbai
690,2021 Maruti Alto,1st Owner,"9,706 km",Petrol,Manual,LXI OPT Manual,"₹4,50,999",Mumbai
691,2021 Maruti S PRESSO,1st Owner,697 km,Petrol,Manual,VXI PLUS Manual,"₹5,27,999",Mumbai
692,2016 Honda Brio,1st Owner,"59,581 km",Petrol,Manual,1.2 S MT I VTEC Manual,"₹3,73,799",Mumbai
693,2017 Honda Jazz,1st Owner,"57,606 km",Petrol,Automatic,1.2 V AT Automatic,"₹6,58,199",Mumbai

In [30]:
gurgaon=car24(5,122001)
gurgaon['location']='Gurgaon'
gurgaon

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2013 Maruti Ertiga,1st Owner,"1,13,213 km",Diesel,Manual,VDI ABS Manual,"₹4,59,999",Gurgaon
1,2014 Audi Q3,1st Owner,"93,792 km",Diesel,Manual,2.0 TDI MT S EDITION Manual,"₹11,36,799",Gurgaon
2,2014 Mahindra Thar,1st Owner,"68,595 km",Diesel,Manual,CRDE 4X4 BS IV Manual,"₹5,22,599",Gurgaon
3,2013 Toyota Innova,1st Owner,"1,58,147 km",Diesel,Manual,2.5 GX 7 STR BS IV Manual,"₹6,20,799",Gurgaon
4,2014 Maruti Swift Dzire,1st Owner,"98,112 km",Diesel,Manual,VDI BS IV Manual,"₹4,16,399",Gurgaon
5,2015 Maruti Swift Dzire,1st Owner,"1,00,621 km",Diesel,Manual,LDI BS IV Manual,"₹3,63,299",Gurgaon
6,2013 Hyundai i20,1st Owner,"64,543 km",Diesel,Manual,SPORTZ 1.4 CRDI Manual,"₹3,64,899",Gurgaon
7,2013 Maruti Ertiga,1st Owner,"49,250 km",Diesel,Manual,VDI ABS Manual,"₹5,41,699",Gurgaon
8,2018 Maruti Alto 800,1st Owner,"41,533 km",Petrol,Manual,LXI Manual,"₹3,23,699",Gurgaon
9,2013 Maruti Swift,1st Owner,"1,22,503 km",Diesel,Manual,VDI Manual,"₹3,08,899",Gurgaon
10,2013 Maruti Swift,1st Owner,"59,096 km",Diesel,Manual,VDI Manual,"₹3,15,899",Gurgaon
11,2014 Ford Ecosport,1st Owner,"1,56,348 km",Diesel,Manual,1.5 TITANIUMTDCI OPT Manual,"₹4,55,199",Gurgaon
12,2014 Toyota Innova,1st Owner,"93,714 km",Diesel,Manual,2.5 VX 7 STR BS IV Manual,"₹7,88,399",Gurgaon
13,2013 Honda Amaze,1st Owner,"73,145 km",Diesel,Manual,1.5 SMT I DTEC Manual,"₹3,26,099",Gurgaon
14,2017 Maruti Ciaz,1st Owner,"1,08,123 km",Diesel,Manual,VDI+ SHVS Manual,"₹6,10,899",Gurgaon
15,2013 Toyota Fortuner,1st Owner,"77,604 km",Diesel,Manual,3.0 MT 4X2 Manual,"₹11,68,899",Gurgaon
16,2017 Hyundai Grand i10,1st Owner,"35,753 km",Petrol,Manual,SPORTS 1.2 VTVT Manual,"₹4,93,299",Gurgaon
17,2014 Ford Ecosport,1st Owner,"62,984 km",Diesel,Manual,1.5TITANIUM TDCI Manual,"₹4,41,299",Gurgaon
18,2015 Maruti Swift,1st Owner,"68,711 km",Diesel,Manual,LDI O Manual,"₹3,59,499",Gurgaon
19,2014 Maruti Swift,1st Owner,"72,391 km",Diesel,Manual,VDI ABS Manual,"₹3,92,299",Gurgaon

In [31]:
pune=car24(2423,411001)
pune['location']='Pune'
pune

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2011 Maruti Swift,1st Owner,"1,01,259 km",Diesel,Manual,VDI Manual,"₹3,44,299",Pune
1,2012 Maruti Swift Dzire,1st Owner,"1,34,039 km",Diesel,Manual,VDI BS IV Manual,"₹3,87,899",Pune
2,2015 Hyundai Grand i10,1st Owner,"47,035 km",Diesel,Manual,SPORTZ 1.1 CRDI Manual,"₹4,53,399",Pune
3,2017 Honda Jazz,1st Owner,"15,181 km",Petrol,Manual,1.2 V MT Manual,"₹6,13,999",Pune
4,2017 Maruti IGNIS,1st Owner,"41,404 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹4,85,799",Pune
...,...,...,...,...,...,...,...,...
501,2019 Honda Amaze,1st Owner,"14,480 km",Petrol,Automatic,1.2 VX CVT I VTEC Automatic,"₹8,26,899",Pune
502,2021 Maruti Ertiga,1st Owner,"2,145 km",Petrol,Manual,ZXI SMART HYBRID Manual,"₹10,98,099",Pune
503,2020 Maruti S PRESSO,1st Owner,"3,211 km",Petrol,Automatic,VXI PLUS AGS Automatic,"₹5,35,799",Pune
504,2017 Volkswagen Polo,2nd Owner,"42,407 km",Petrol,Automatic,GT TSI 1.2 PETROL AT Automatic,"₹7,58,799",Pune
505,2020 Tata Tiago,1st Owner,"21,652 km",Petrol,Manual,XZ+ 1.2 Revotron Manual,"₹6,02,199",Pune

In [32]:
banglore=car24(4709,560001)
banglore['location']='Banglore'
banglore

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2011 Skoda Laura,1st Owner,"1,08,360 km",Diesel,Automatic,ELEGANCE 2.0 TDI CR AT Automatic,"₹5,05,699",Banglore
1,2018 Ford FREESTYLE,1st Owner,"66,606 km",Petrol,Manual,TITANIUM 1.2 TI-VCT MT Manual,"₹6,29,499",Banglore
2,2016 Maruti Baleno,1st Owner,"43,234 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹6,25,599",Banglore
3,2016 Datsun Redi Go,2nd Owner,"92,475 km",Petrol,Manual,T (O) Manual,"₹2,74,199",Banglore
4,2017 Honda City,2nd Owner,"28,193 km",Petrol,Manual,V MT PETROL Manual,"₹9,17,199",Banglore
...,...,...,...,...,...,...,...,...
562,2020 Renault TRIBER,1st Owner,"18,802 km",Petrol,Manual,1.0 RXL PETROL Manual,"₹6,58,399",Banglore
563,2013 Maruti Swift,2nd Owner,"64,394 km",Petrol,Manual,ZXI Manual,"₹4,99,099",Banglore
564,2020 Renault Kwid,1st Owner,"13,423 km",Petrol,Manual,1.0 RXT Opt Manual,"₹4,35,999",Banglore
565,2016 Renault Kwid,1st Owner,"25,485 km",Petrol,Manual,RXT Opt Manual,"₹3,58,499",Banglore
566,2019 Maruti Alto K10,1st Owner,"8,882 km",Petrol,Automatic,VXI AMT Automatic,"₹5,09,199",Banglore

In [33]:
chennai=car24(5732,600001)
chennai['location']='Chennai'
chennai

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2017 Hyundai Eon,1st Owner,"33,169 km",Petrol,Manual,ERA PLUS Manual,"₹3,49,799",Chennai
1,2019 Renault Kwid,1st Owner,"24,291 km",Petrol,Manual,1.0 CLIMBER OPT Manual,"₹4,72,699",Chennai
2,2019 Maruti Eeco,1st Owner,"21,907 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹4,93,899",Chennai
3,2017 Maruti Celerio,1st Owner,"88,268 km",Petrol,Automatic,ZXI AMT Automatic,"₹4,79,699",Chennai
4,2015 Honda City,3rd Owner,"80,042 km",Petrol,Manual,V MT PETROL Manual,"₹5,65,499",Chennai
...,...,...,...,...,...,...,...,...
564,2018 Tata Tiago,1st Owner,"23,816 km",Petrol,Manual,XT 1.2 REVOTRON Manual,"₹4,76,299",Chennai
565,2017 Hyundai Grand i10,1st Owner,"55,142 km",Diesel,Manual,1.2 CRDI Sportz O Manual,"₹5,45,299",Chennai
566,2019 Hyundai NEW SANTRO,1st Owner,"39,703 km",Petrol,Automatic,1.1 SPORTS AMT Automatic,"₹5,84,999",Chennai
567,2019 Maruti Swift,1st Owner,"10,435 km",Petrol,Manual,LXI Manual,"₹5,89,299",Chennai
568,2016 Datsun Redi Go,1st Owner,"39,549 km",Petrol,Manual,T (O) Manual,"₹2,69,199",Chennai

In [34]:
ahmedabad=car24(1692,380001)
ahmedabad['location']='Ahmedabad'
ahmedabad

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2017 Maruti Alto 800,1st Owner,"75,418 km",Petrol,Manual,LXI Manual,"₹3,02,099",Ahmedabad
1,2020 Maruti Alto,1st Owner,"24,963 km",Petrol,Manual,LXI Manual,"₹3,88,599",Ahmedabad
2,2020 Maruti Alto,1st Owner,"10,575 km",Petrol,Manual,VXI Manual,"₹4,31,799",Ahmedabad
3,2018 Honda Jazz,1st Owner,"56,679 km",Petrol,Manual,1.2 V MT Manual,"₹7,09,899",Ahmedabad
4,2017 Datsun Redi Go,2nd Owner,"27,557 km",Petrol,Manual,S 1.0 Manual,"₹2,92,699",Ahmedabad
...,...,...,...,...,...,...,...,...
381,2017 Hyundai Grand i10,1st Owner,"21,085 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,52,199",Ahmedabad
382,2017 Hyundai Grand i10,1st Owner,"7,733 km",Petrol,Manual,SPORTZ 1.2 KAPPA VTVT Manual,"₹5,23,099",Ahmedabad
383,2016 Hyundai Grand i10,1st Owner,"88,276 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,41,699",Ahmedabad
384,2019 Hyundai Grand i10,1st Owner,"28,021 km",Petrol,Manual,SPORTZ 1.2 KAPPA VTVT Manual,"₹5,41,699",Ahmedabad
385,2018 Maruti Alto 800,1st Owner,"42,124 km",Petrol,Manual,VXI Manual,"₹3,10,299",Ahmedabad

In [35]:
noida=car24(134,201301)
noida['location']='Noida'
noida

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2013 Maruti Ertiga,1st Owner,"1,13,213 km",Diesel,Manual,VDI ABS Manual,"₹4,59,999",Noida
1,2014 Audi Q3,1st Owner,"93,792 km",Diesel,Manual,2.0 TDI MT S EDITION Manual,"₹11,36,799",Noida
2,2014 Mahindra Thar,1st Owner,"68,595 km",Diesel,Manual,CRDE 4X4 BS IV Manual,"₹5,22,599",Noida
3,2013 Toyota Innova,1st Owner,"1,58,147 km",Diesel,Manual,2.5 GX 7 STR BS IV Manual,"₹6,20,799",Noida
4,2014 Maruti Swift Dzire,1st Owner,"98,112 km",Diesel,Manual,VDI BS IV Manual,"₹4,16,399",Noida
...,...,...,...,...,...,...,...,...
683,2013 Hyundai Verna,1st Owner,"58,332 km",Petrol,Manual,FLUIDIC 1.6 EX VTVT Manual,"₹4,98,299",Noida
684,2010 Hyundai i20,1st Owner,"70,376 km",Petrol,Manual,MAGNA O 1.2 Manual,"₹2,97,799",Noida
685,2016 Ford Endeavour,2nd Owner,"77,863 km",Diesel,Manual,2.2l 4X4 MT Trend Manual,"₹16,42,299",Noida
686,2016 Ford Ecosport,1st Owner,"27,968 km",Petrol,Manual,1.5 TITANIUM TI VCT Manual,"₹6,81,699",Noida
687,2012 Hyundai i10,1st Owner,"52,670 km",Petrol,Manual,SPORTZ 1.2 KAPPA2 Manual,"₹2,88,299",Noida

In [36]:
kolkata=car24(777,700001)
kolkata['location']='Kolkata'
kolkata

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2012 Maruti Alto 800,1st Owner,"1,137 km",Petrol,Manual,LXI Manual,"₹2,30,899",Kolkata
1,2018 Hyundai Elite i20,1st Owner,"37,684 km",Petrol,Manual,Magna Executive 1.2 Manual,"₹5,16,799",Kolkata
2,2015 Hyundai Verna,2nd Owner,"47,318 km",Diesel,Manual,FLUIDIC 1.6 SX CRDI Manual,"₹5,23,399",Kolkata
3,2018 Hyundai Elite i20,1st Owner,"8,880 km",Petrol,Manual,SPORTZ 1.2 Manual,"₹5,89,799",Kolkata
4,2013 Renault Duster,1st Owner,"51,703 km",Diesel,Manual,RXZ DIESEL 110 Manual,"₹4,40,199",Kolkata
...,...,...,...,...,...,...,...,...
224,2018 Maruti Baleno,1st Owner,"28,366 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹5,84,699",Kolkata
225,2019 Maruti Swift,1st Owner,"61,045 km",Petrol,Manual,VXI Manual,"₹5,56,899",Kolkata
226,2018 Maruti Alto 800,2nd Owner,"23,787 km",Petrol,Manual,LXI Manual,"₹3,35,099",Kolkata
227,2020 Maruti Alto,1st Owner,"6,257 km",Petrol,Manual,VXI Manual,"₹3,83,999",Kolkata
228,2019 Maruti Alto 800,1st Owner,"5,052 km",Petrol,Manual,VXI Manual,"₹3,25,299",Kolkata

In [37]:
hyderabad=car24(3686,500001)
hyderabad['location']='Hyderabad'
hyderabad

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2017 Hyundai Verna,1st Owner,"71,379 km",Petrol,Manual,FLUIDIC 1.6 SX VTVT Manual,"₹8,12,399",Hyderabad
1,2018 Honda Amaze,1st Owner,"43,577 km",Diesel,Manual,1.5 SMT I DTEC Manual,"₹7,53,499",Hyderabad
2,2019 Maruti Eeco,1st Owner,"11,841 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹4,86,599",Hyderabad
3,2010 Hyundai i10,1st Owner,"42,714 km",Petrol,Manual,MAGNA 1.2 Manual,"₹2,49,999",Hyderabad
4,2020 Hyundai VENUE,1st Owner,"41,407 km",Diesel,Manual,1.5 SX CRDI MT Manual,"₹10,18,099",Hyderabad
...,...,...,...,...,...,...,...,...
163,2018 Hyundai Elite i20,2nd Owner,"51,248 km",Petrol,Manual,ASTA 1.2 (O) Manual,"₹7,25,499",Hyderabad
164,2019 Maruti Alto,1st Owner,"63,236 km",Petrol,Manual,LXI Manual,"₹3,44,999",Hyderabad
165,2019 Honda Amaze,1st Owner,"43,626 km",Petrol,Manual,1.2 SMT I VTEC Manual,"₹6,51,599",Hyderabad
166,2012 Maruti Swift Dzire,1st Owner,"1,22,285 km",Diesel,Manual,VDI BS IV Manual,"₹4,60,599",Hyderabad
167,2016 Hyundai Grand i10,2nd Owner,"11,384 km",Petrol,Manual,SPORTZ 1.2 KAPPA VTVT Manual,"₹4,96,599",Hyderabad

In [40]:
chandigarh=car24(769,134101)
chandigarh['location']='Chandigarh'
chandigarh

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2011 Honda Accord,4th Owner,"65,926 km",Petrol,Manual,2.4 MT Manual,"₹3,87,099",Chandigarh
1,2017 Nissan Sunny,1st Owner,"1,21,058 km",Diesel,Manual,XE D Manual,"₹4,96,799",Chandigarh
2,2016 Mahindra Kuv100,1st Owner,"90,695 km",Diesel,Manual,K2 D 6 STR Manual,"₹3,45,999",Chandigarh
3,2017 Maruti Swift,1st Owner,"58,657 km",Petrol,Manual,VXI Manual,"₹5,13,799",Chandigarh
4,2017 Maruti Alto K10,1st Owner,"82,207 km",Petrol,Manual,VXI Manual,"₹3,29,799",Chandigarh
...,...,...,...,...,...,...,...,...
155,2018 Maruti Alto 800,1st Owner,"40,203 km",Petrol,Manual,LXI Manual,"₹3,33,399",Chandigarh
156,2019 Maruti Vitara Brezza,1st Owner,"52,591 km",Diesel,Automatic,VDI AMT Automatic,"₹8,58,999",Chandigarh
157,2019 Maruti Alto K10,1st Owner,"13,632 km",Petrol,Manual,VXI Manual,"₹3,79,899",Chandigarh
158,2019 Honda Amaze,1st Owner,"30,994 km",Petrol,Manual,1.2 EMT I VTEC Manual,"₹5,74,499",Chandigarh
159,2021 Maruti Vitara Brezza,1st Owner,"5,971 km",Petrol,Manual,ZXI Manual,"₹9,53,299",Chandigarh

In [41]:
bhopal=car24(2987,462001)
bhopal['location']='Bhopal'
bhopal

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2017 Hyundai Eon,2nd Owner,"53,875 km",Petrol,Manual,ERA PLUS Manual,"₹3,00,499",Bhopal
1,2020 Maruti Alto,1st Owner,"3,030 km",Petrol,Manual,LXI Manual,"₹4,08,199",Bhopal
2,2018 Ford Ecosport,1st Owner,"73,382 km",Diesel,Manual,1.5TITANIUM TDCI Manual,"₹8,02,099",Bhopal
3,2018 Renault Kwid,1st Owner,"60,017 km",Petrol,Manual,RXT Manual,"₹3,37,499",Bhopal
4,2016 Hyundai Creta,1st Owner,"51,174 km",Petrol,Manual,1.6 S Manual,"₹8,23,799",Bhopal
...,...,...,...,...,...,...,...,...
89,2020 Maruti Alto,1st Owner,"48,045 km",Petrol,Manual,VXI Manual,"₹3,95,899",Bhopal
90,2019 Maruti Vitara Brezza,1st Owner,"14,773 km",Diesel,Manual,ZDI PLUS DUAL TONE Manual,"₹10,14,099",Bhopal
91,2020 Maruti S PRESSO,1st Owner,"9,582 km",Petrol,Automatic,VXI PLUS AGS Automatic,"₹4,92,899",Bhopal
92,2017 Hyundai Grand i10,1st Owner,"36,230 km",Petrol,Manual,MAGNA 1.2 VTVT Manual,"₹4,70,399",Bhopal
93,2019 Hyundai NEW SANTRO,1st Owner,"27,040 km",Petrol,Manual,SPORTZ 1.1 Manual,"₹5,04,199",Bhopal

In [42]:
delhi=car24(2,110001)
delhi['location']='Delhi'
delhi

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2013 Maruti Ertiga,1st Owner,"1,13,213 km",Diesel,Manual,VDI ABS Manual,"₹4,59,999",Delhi
1,2014 Audi Q3,1st Owner,"93,792 km",Diesel,Manual,2.0 TDI MT S EDITION Manual,"₹11,36,799",Delhi
2,2014 Mahindra Thar,1st Owner,"68,595 km",Diesel,Manual,CRDE 4X4 BS IV Manual,"₹5,22,599",Delhi
3,2013 Toyota Innova,1st Owner,"1,58,147 km",Diesel,Manual,2.5 GX 7 STR BS IV Manual,"₹6,20,799",Delhi
4,2014 Maruti Swift Dzire,1st Owner,"98,112 km",Diesel,Manual,VDI BS IV Manual,"₹4,16,399",Delhi
...,...,...,...,...,...,...,...,...
683,2013 Hyundai Verna,1st Owner,"58,332 km",Petrol,Manual,FLUIDIC 1.6 EX VTVT Manual,"₹4,98,299",Delhi
684,2010 Hyundai i20,1st Owner,"70,376 km",Petrol,Manual,MAGNA O 1.2 Manual,"₹2,97,799",Delhi
685,2016 Ford Endeavour,2nd Owner,"77,863 km",Diesel,Manual,2.2l 4X4 MT Trend Manual,"₹16,42,299",Delhi
686,2016 Ford Ecosport,1st Owner,"27,968 km",Petrol,Manual,1.5 TITANIUM TI VCT Manual,"₹6,81,699",Delhi
687,2012 Hyundai i10,1st Owner,"52,670 km",Petrol,Manual,SPORTZ 1.2 KAPPA2 Manual,"₹2,88,299",Delhi

In [44]:
coimbatore=car24(6105,641001)
coimbatore['location']='Coimbatore'
coimbatore

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2017 Maruti Swift,1st Owner,"35,685 km",Petrol,Manual,VXI Manual,"₹5,42,999",Coimbatore
1,2018 Mahindra KUV 100 NXT,1st Owner,"85,149 km",Diesel,Manual,K4+ D 6 SEATER Manual,"₹5,13,399",Coimbatore
2,2017 Maruti Ciaz,1st Owner,"49,374 km",Petrol,,ZETA 1.4 AT,"₹7,99,199",Coimbatore
3,2018 Hyundai Verna,2nd Owner,"26,685 km",Petrol,Manual,1.6 SX VTVT Manual,"₹9,03,599",Coimbatore
4,2016 Maruti Baleno,1st Owner,"29,975 km",Petrol,Manual,ALPHA 1.2 K12 Manual,"₹6,28,799",Coimbatore
5,2017 Honda City,1st Owner,"40,643 km",Petrol,Manual,V MT PETROL Manual,"₹8,41,499",Coimbatore
6,2012 Toyota Etios Liva,1st Owner,"1,40,756 km",Diesel,Manual,GD Manual,"₹3,87,099",Coimbatore
7,2018 Mahindra TUV300,1st Owner,"90,548 km",Diesel,Manual,T 10 MT Dual Tone Manual,"₹7,26,099",Coimbatore
8,2017 Maruti Dzire,1st Owner,"45,303 km",Diesel,Automatic,VDI AMT Automatic,"₹6,69,899",Coimbatore
9,2017 Honda City,1st Owner,"81,824 km",Petrol,Manual,V MT PETROL Manual,"₹7,17,599",Coimbatore
10,2019 Hyundai VENUE,1st Owner,"14,672 km",Petrol,Manual,1.0L Turbo GDI SX(O) MT Manual,"₹10,19,699",Coimbatore
11,2018 Tata Tiago,1st Owner,"33,683 km",Petrol,Manual,XZ 1.2 REVOTRON Manual,"₹4,98,199",Coimbatore
12,2021 Renault Kwid,1st Owner,"7,252 km",Petrol,Automatic,1.0 RXT Opt AT Automatic,"₹5,42,699",Coimbatore
13,2018 Tata Tiago,1st Owner,"39,056 km",Petrol,Manual,XZ 1.2 REVOTRON Manual,"₹4,96,099",Coimbatore
14,2019 Maruti Baleno,2nd Owner,"9,047 km",Petrol,Manual,ZETA 1.2 K12 Manual,"₹6,76,999",Coimbatore
15,2019 Hyundai Elite i20,2nd Owner,"47,217 km",Diesel,Manual,1.4 CRDI ASTA (O) Manual,"₹7,45,799",Coimbatore
16,2012 Maruti Wagon R 1.0,1st Owner,"1,23,528 km",Petrol,Manual,VXI Manual,"₹2,97,599",Coimbatore
17,2018 Ford Ecosport,1st Owner,"48,930 km",Petrol,Manual,1.5 TITANIUM TI VCT Manual,"₹8,30,399",Coimbatore
18,2017 Hyundai Eon,2nd Owner,"51,267 km",Petrol,Manual,ERA PLUS Manual,"₹3,21,799",Coimbatore
19,2019 Hyundai NEW SANTRO,1st Owner,"21,177 km",Petrol,Manual,SPORTZ 1.1 Manual,"₹4,83,499",Coimbatore
20,2018 Maruti Swift,1st Owner,"47,737 km",Petrol,Automatic,VXI AMT Automatic,"₹6,43,499",Coimbatore
21,2017 Hyundai Eon,1st Owner,"48,413 km",Petrol,Manual,ERA PLUS Manual,"₹3,37,999",Coimbatore
22,2017 Maruti Swift,1st Owner,"47,125 km",Petrol,Manual,VXI Manual,"₹5,62,399",Coimbatore
23,2017 Maruti Swift,1st Owner,"17,131 km",Petrol,Manual,VXI Manual,"₹5,58,299",Coimbatore
24,2017 Hyundai Grand i10,1st Owner,"46,697 km",Petrol,Manual,SPORTZ 1.2 KAPPA VTVT Manual,"₹5,07,099",Coimbatore
25,2018 Maruti Wagon R 1.0,1st Owner,"36,157 km",Petrol,Manual,VXI Manual,"₹4,36,599",Coimbatore
26,2015 Hyundai Grand i10,2nd Owner,"50,820 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,22,899",Coimbatore
27,2019 Hyundai Grand i10,1st Owner,"26,838 km",Petrol,Manual,SPORTZ 1.2 KAPPA VTVT Manual,"₹5,95,999",Coimbatore

In [45]:
surat=car24(1605,394101)
surat['location']='Surat'
surat

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2018 Maruti Wagon R 1.0,1st Owner,"13,673 km",Petrol,Manual,VXI Manual,"₹4,20,799",Surat
1,2015 Hyundai Elite i20,1st Owner,"79,922 km",Petrol,Manual,ASTA 1.2 (O) Manual,"₹5,83,199",Surat
2,2017 Maruti Ertiga,1st Owner,"48,443 km",Diesel,Manual,VDI SHVS Manual,"₹7,27,399",Surat
3,2018 Honda City,1st Owner,"28,435 km",Petrol,Manual,V MT PETROL Manual,"₹8,62,499",Surat
4,2018 Renault Kwid,1st Owner,"71,569 km",Petrol,Manual,1.0 RXT Opt Manual,"₹3,14,599",Surat
5,2017 Audi Q3,1st Owner,"67,715 km",Petrol,Automatic,30TFSI Premium Plus Automatic,"₹22,71,299",Surat
6,2021 Tata Harrier,1st Owner,"12,503 km",Diesel,,XT+ Dark Edition,"₹18,04,399",Surat
7,2017 Maruti Dzire,1st Owner,"60,688 km",Diesel,Manual,ZDI Plus Manual,"₹6,40,599",Surat
8,2018 Maruti Ciaz,1st Owner,"38,249 km",Petrol,Manual,ALPHA 1.5 MT VTVT SHVS Manual,"₹9,16,299",Surat
9,2021 Hyundai NEW I20,1st Owner,"1,540 km",Petrol,,SPORTZ 1.2 MT,"₹8,12,699",Surat
10,2020 HYUNDAI NEW I20,1st Owner,"18,909 km",Petrol,Manual,SPORTZ 1.0T GDI IMT Manual,"₹7,55,999",Surat
11,2020 Maruti Dzire,1st Owner,"12,444 km",Petrol,Manual,VXI Manual,"₹6,96,299",Surat
12,2020 KIA SELTOS,1st Owner,"26,375 km",Petrol,Manual,HTX 1.5 PETROL MT Manual,"₹13,11,899",Surat
13,2017 Ford Ecosport,1st Owner,"60,554 km",Diesel,Manual,1.5TITANIUM TDCI Manual,"₹6,63,999",Surat
14,2019 Maruti Ciaz,2nd Owner,"62,360 km",Diesel,Manual,ALPHA 1.3 DDIS SHVS Manual,"₹8,02,699",Surat
15,2019 Volkswagen Polo,1st Owner,"26,814 km",Petrol,Manual,HIGH LINE PLUS 1.0 Manual,"₹6,32,799",Surat
16,2018 Maruti Vitara Brezza,1st Owner,"61,960 km",Diesel,Manual,VDI Manual,"₹6,45,399",Surat
17,2015 Maruti Swift,1st Owner,"62,536 km",Petrol,Manual,VXI Manual,"₹4,06,099",Surat
18,2019 Renault Kwid,1st Owner,"22,150 km",Petrol,Manual,RXL Manual,"₹3,65,799",Surat
19,2018 Ford Ecosport,1st Owner,"16,340 km",Petrol,Automatic,1.5 TITANIUM PLUS TI VCT AT Automatic,"₹8,12,299",Surat
20,2018 Honda Amaze,2nd Owner,"33,472 km",Petrol,Manual,1.2 SMT I VTEC Manual,"₹6,04,299",Surat
21,2019 Maruti New Wagon-R,1st Owner,"9,923 km",Petrol,Manual,ZXI 1.2 Manual,"₹5,82,299",Surat
22,2018 Hyundai Creta,1st Owner,"2,41,616 km",Diesel,Manual,1.4 E PLUS CRDI Manual,"₹7,29,899",Surat
23,2019 Ford Ecosport,1st Owner,"26,633 km",Diesel,Manual,1.5TITANIUM TDCI Manual,"₹8,44,999",Surat
24,2018 Hyundai Creta,1st Owner,"73,143 km",Diesel,Manual,1.6 SX CRDI Manual,"₹10,94,699",Surat
25,2014 Honda Brio,1st Owner,"41,544 km",Petrol,Manual,1.2 S MT I VTEC Manual,"₹3,46,299",Surat
26,2020 Maruti Dzire,1st Owner,"45,165 km",Petrol,Manual,VXI Manual,"₹6,55,999",Surat
27,2020 Maruti Swift,1st Owner,"44,110 km",Petrol,Manual,VXI Manual,"₹5,89,699",Surat
28,2019 Maruti XL6,1st Owner,"41,645 km",Petrol,Manual,ALPHA SHVS MT Manual,"₹8,86,999",Surat
29,2020 Maruti Baleno,1st Owner,264 km,Petrol,Manual,DELTA 1.2 K12 Manual,"₹6,78,599",Surat
30,2021 Maruti Baleno,1st Owner,"8,245 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹6,75,199",Surat
31,2019 Honda WR-V,2nd Owner,"36,771 km",Petrol,Manual,1.2 i-VTEC VX MT Manual,"₹8,77,299",Surat
32,2018 Maruti Baleno,2nd Owner,"52,452 km",Petrol,Manual,ZETA 1.2 K12 Manual,"₹5,85,099",Surat
33,2019 Maruti Baleno,1st Owner,"23,344 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹6,50,699",Surat
34,2019 Maruti Swift,1st Owner,"45,159 km",Diesel,Manual,VDI Manual,"₹6,61,899",Surat
35,2021 Maruti Swift,1st Owner,"41,399 km",Petrol,Manual,ZXI Manual,"₹7,47,199",Surat
36,2019 Maruti Baleno,2nd Owner,"69,543 km",Petrol,Manual,ZETA 1.2 K12 Manual,"₹5,91,999",Surat
37,2017 Honda Jazz,1st Owner,"45,862 km",Petrol,Automatic,1.2 V AT Automatic,"₹6,54,799",Surat
38,2018 Hyundai Grand i10,1st Owner,"57,873 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,88,799",Surat
39,2018 Hyundai Grand i10,1st Owner,"56,068 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,86,599",Surat
40,2017 Hyundai Grand i10,1st Owner,"64,576 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,75,999",Surat
41,2018 Maruti Alto 800,1st Owner,"1,42,312 km",Petrol,Manual,LXI Manual,"₹3,01,399",Surat
42,2020 Maruti Alto,1st Owner,"19,906 km",Petrol,Manual,LXI Manual,"₹3,55,899",Surat
43,2018 Maruti Alto 800,1st Owner,"30,227 km",Petrol,Manual,LXI Manual,"₹3,18,499",Surat
44,2019 Maruti Eeco,1st Owner,"22,152 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹4,32,199",Surat
45,2017 Hyundai Grand i10,1st Owner,"1,00,946 km",Petrol,Manual,Sportz(O) 1.2 MT Manual,"₹4,77,499",Surat
46,2019 Maruti Alto 800,1st Owner,"62,200 km",Petrol,Manual,LXI Manual,"₹3,16,299",Surat
47,2018 Maruti Eeco,1st Owner,"37,734 km",Petrol,Manual,5 STR WITH AC PLUSHTR Manual,"₹4,49,399",Surat
48,2014 Maruti Wagon R 1.0,1st Owner,"17,624 km",Petrol,Manual,LXI Manual,"₹3,28,999",Surat
49,2017 Maruti Vitara Brezza,1st Owner,"18,883 km",Diesel,Manual,VDI OPT Manual,"₹6,99,099",Surat
50,2019 Volkswagen Ameo,1st Owner,"53,019 km",Petrol,Manual,Trendline 1.0 Manual,"₹5,25,699",Surat
51,2017 Maruti Alto 800,1st Owner,"12,914 km",Petrol,Manual,VXI Manual,"₹3,03,399",Surat
52,2018 Maruti Baleno,1st Owner,"17,040 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹5,89,899",Surat
53,2018 Renault Kwid,1st Owner,"11,943 km",Petrol,Automatic,RXT 1.0 EASY-R AT OPTION Automatic,"₹4,11,099",Surat
54,2020 Maruti Baleno,1st Owner,"15,437 km",Petrol,Manual,DELTA 1.2 K12 Manual,"₹6,68,199",Surat
55,2020 Ford Ecosport,1st Owner,"23,735 km",Petrol,Automatic,1.5 TITANIUM PLUS TI VCT AT Automatic,"₹10,18,899",Surat

In [46]:
kochi=car24(6351,682001)
kochi['location']='Kochi'
kochi

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2017 Mahindra Scorpio,1st Owner,"58,972 km",Diesel,Manual,S10 Intelli Hybrid 2WD Manual,"₹11,89,099",Kochi
1,2015 Maruti Celerio,2nd Owner,"42,242 km",Petrol,Automatic,ZXI AMT Automatic,"₹4,23,599",Kochi
2,2011 Hyundai Verna,1st Owner,"78,395 km",Petrol,Manual,FLUIDIC 1.6 SX VTVT OPT Manual,"₹4,15,799",Kochi
3,2013 Volkswagen Vento,1st Owner,"1,44,383 km",Diesel,Manual,HIGHLINE DIESEL Manual,"₹4,09,799",Kochi
4,2016 Volkswagen Ameo,1st Owner,"64,357 km",Diesel,Manual,COMFORTLINE 1.5 Manual,"₹4,93,699",Kochi
...,...,...,...,...,...,...,...,...
390,2014 Hyundai Grand i10,1st Owner,"51,884 km",Petrol,Manual,MAGNA 1.2 VTVT Manual,"₹3,93,699",Kochi
391,2019 Hyundai Grand i10,1st Owner,"10,725 km",Petrol,Manual,MAGNA 1.2 VTVT Manual,"₹5,11,199",Kochi
392,2016 Hyundai Grand i10,1st Owner,"16,855 km",Petrol,Manual,MAGNA 1.2 KAPPA VTVT Manual,"₹4,38,999",Kochi
393,2016 Hyundai Grand i10,1st Owner,"51,324 km",Petrol,Manual,MAGNA 1.2 VTVT Manual,"₹4,40,699",Kochi
394,2018 Hyundai NEW SANTRO,2nd Owner,"27,980 km",Petrol,,ASTA 1.1 MT,"₹4,72,799",Kochi

In [47]:
lucknow=car24(290,226001)
lucknow['location']='Lucknow'
lucknow

,car_Brand,car_owner,car_kilometers,car_fuel_type,car_transmission,car_model,car_price,location
0,2019 Maruti Baleno,1st Owner,"18,829 km",Petrol,Manual,ZETA 1.2 K12 Manual,"₹6,97,299",Lucknow
1,2020 Hyundai Creta,1st Owner,"5,854 km",Petrol,Manual,S PETROL MT Manual,"₹13,13,299",Lucknow
2,2019 Datsun Redi Go,1st Owner,"34,810 km",Petrol,Manual,T (O) Manual,"₹3,13,299",Lucknow
3,2017 Ford Ecosport,2nd Owner,"29,595 km",Petrol,Manual,1.5AMBIENTE TI VCT Manual,"₹6,20,399",Lucknow
4,2021 KIA SONET,1st Owner,"13,887 km",Diesel,,HTK+ 1.5 D AT,"₹11,97,799",Lucknow
...,...,...,...,...,...,...,...,...
89,2014 Maruti Alto 800,1st Owner,"27,734 km",Petrol,Manual,LXI Manual,"₹2,40,499",Lucknow
90,2018 Maruti Vitara Brezza,1st Owner,"29,031 km",Diesel,Manual,LDI OPT Manual,"₹7,15,599",Lucknow
91,2019 Maruti S PRESSO,2nd Owner,"5,289 km",Petrol,Automatic,VXI PLUS AGS Automatic,"₹4,90,599",Lucknow
92,2020 Maruti Baleno,1st Owner,"23,928 km",Petrol,Manual,ZETA 1.2 K12 Manual,"₹6,73,299",Lucknow
93,2018 Hyundai Grand i10,1st Owner,"35,373 km",Petrol,Manual,SPORTZ 1.2 KAPPA VTVT Manual,"₹5,80,599",Lucknow

In [48]:
#Combine all three DataFrames
cars24_data=pd.concat([mumbai,gurgaon, pune, banglore,chennai,ahmedabad, noida, 
                       kolkata, hyderabad,chandigarh,bhopal,delhi,coimbatore,surat,kochi,lucknow]).reset_index()
cars24_data.to_csv('Car24_data.csv')