In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# Python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [2]:
#Check if we are getting the Response
imdb_response= requests.get("https://www.imdb.com/chart/top/")
imdb_response

In [7]:
def top100Movies(link):
    url=link
    request_object = requests.get(url)
    html_content = request_object.text
    #print(request_object.status_code, "->", url)
    soup = BeautifulSoup(request_object.content) 
    
    # Get the name of movies
    movies = soup.select('td.titleColumn')
    
    # Get the ratings, Once clicked on Photo-Inspect-span name="ir" gives us the ratings
    # data-value is the attribute where data is stored
    ratings = [r.attrs.get('data-value') for r in soup.select('td.posterColumn span[name=ir]')]
    ratings
    list = []
 
    # Iterating over movies to extract
    # each movie's details
    for index in range(0, len(movies)):
        movie_string = movies[index].get_text()
        movie = (' '.join(movie_string.split()).replace('.', ''))
        movie_name = movie[len(str(index))+1:-7]
        year = movie[len(str(0))-6:-1]
        data = {"Name": movie_name,
                "Rating": ratings[index],
                "Year of Release": year           
                }
        list.append(data)
    # Get first 100 movies
    df_movies=pd.DataFrame(list)
    return(df_movies.head(100))

In [8]:
top100Movies("https://www.imdb.com/chart/top/")

                        Name             Rating Year of Release
0   The Shawshank Redemption  9.221274738779421            1994
1              The Godfather  9.146955141082294            1972
2     The Godfather: Part II  8.981009585676812            1974
3            The Dark Knight  8.976756791605128            2008
4               12 Angry Men  8.942392701175843            1957
..                       ...                ...             ...
95              Citizen Kane  8.265621932251584            1941
96       Requiem for a Dream  8.260468448346993            2000
97       Singin' in the Rain  8.259540336748433            1952
98        North by Northwest  8.256569490361828            1959
99                     Ikiru   8.25514117192559            1952

[100 rows x 3 columns]